<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL PANCAKEFORK.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://app.pancakefork.finance
****************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_pancakefork'}); -%>
</body>
</html> 
