<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL KRONOSDAO.AI FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://kronosdao.ai/
***************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_kronosdao'}); -%>
</body>
</html> 
