<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL GENOMESDAO FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://staking.genomes.io/
**************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'genomesdao'}); -%>
</body>
</html> 
