<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL TRUE FI YIELD FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://app.truefi.io/farm
***************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'truefi'}); -%>
</body>
</html> 
