<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
********************************* POLIS **********************************

*************** 👨‍🌾 UNOFFICIAL HADESSWAP FARMING CALCULATOR 👨‍🌾 **************
INFO  : https://hadesswap.finance
*************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'polis_hadesswap'}); -%>
</body>
</html>
