<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL NANOSWAP FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://nanoswap.xyz
TG    : https://t.me/NanoswapBase
*************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'base_nanoswap'}); -%>
</body>
</html> 
