<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** AVALANCHE *********************************
    
*************** 👨‍🌾 UNOFFICIAL HAKUSWAP FARMING CALCULATOR 👨‍🌾 ***********
INFO  : https://hakuswap.com
*************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'avax_hakuswap'}); -%>
</body>
</html> 
