<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL DOJOFARM CALCULATOR 👨‍🌾 ***************
INFO  : https://dojofarm.finance
*****************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'dojofarm'}); -%>
</body>
</html> 
