<!DOCTYPE html>
<html lang="en">
  <%- include(`${partials}/head`); -%>

  <body>
    <%- include(`${partials}/header_main`); -%>
    <pre id="log">
*************** 👨‍🌾 UNOFFICIAL COMFY MONEY FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://comfy.money
**********************************************************************************

</pre
    >
    <div class="loader--1"></div>
    <%- include(`${partials}/scripts`, {scriptname: 'harmony_comfymoney'}); -%>
  </body>
</html>
