<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL FrogSwap FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://frogswap.xyz/
********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'degen_frogswap'}); -%>
</body>
</html>
