<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL FARMERSONLY FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://app.farmersonly.fi
**************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'harmony_farmersonly'}); -%>
</body>
</html>
