<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL LOTUS FINANCE  CALCULATOR 👨‍🌾 ***************
INFO  : https://lotusfinance.org/farms
***************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_lotus'}); -%>
</body>
</html> 
