<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL COMOS FARMING CALCULATOR 👩‍🌾 ***************
INFO  : <a href="https://app.comos.finance/">https://app.comos.finance/</a>
********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_comos'}); -%>
</body>
</html> 
