<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL SALEM FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://salem.finance
***********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'fantom_salem'}); -%>
</body>
</html> 
