<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL OOLONGSWAP FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://oolongswap.com
*******************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'boba_oolong'}); -%>
</body>
</html> 
