<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL ONE SET DOLLAR CALCULATOR 👨‍🌾 ***************
INFO  : https://app.1sd.finance/
***************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: '1sd'}); -%>
</body>
</html> 
