<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL UMBRIA FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://farm.umbria.network
***********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'umbria'}); -%>
</body>
</html> 
