<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL BLUESWAP.FINANCE FARMING CALCULATOR 👨‍🌾 *****************
INFO  : https://app.blueswap.finance
************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_blueswap'}); -%>
</body>
</html> 