<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL NU.PARTHENON.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://nu.parthenon.finance
********************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_parthenon_nu'}); -%>
</body>
</html>
