<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** AVALANCHE *******************************
    
*************** 👨‍🌾 UNOFFICIAL ESKIMO FARMING CALCULATOR 👨‍🌾 ***********
INFO  : https://eskimo.farm
***********************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'avax_eskimo'}); -%>
</body>
</html> 
