<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL AURORASWAP.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://app.auroraswap.finance
***************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'aurora_auroraswap'}); -%>
</body>
</html> 
