<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
**************** 👨‍🌾 UNOFFICIAL FTM.GURU FARMING CALCULATOR 👨‍🌾 ****************
INFO        : https://ftm.guru/LF/23
PLOT        : 23
ELITENESS   : User must hold 0.001337 ELITE
DEPOSIT FEE : 2%
PLEDGES     : DEATH-WFTM spLP
USES        : SpookySwap
REWARDS     : DEATH
*****************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'fantom_guru_lite23'}); -%>
</body>
</html>
