<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************UNOFFICIAL WYNAUT FARMING CALCULATOR ***************
INFO  : https://wynautdefi.app
********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_wynaut'}); -%>
</body>
</html> 
