<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL SONICSWAP FARMING CALCULATOR 👨‍🌾 ***************

INFO  : https://sonicswap.io/

**************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'harmony_sonicswap'}); -%>
</body>
</html>
