<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** AVALANCHE **************************************
    
*************** 👨‍🌾 UNOFFICIAL BIRDY.FINANCE FARMING CALCULATOR 👨‍🌾 ***********
INFO  : https://avaxgive.netlify.app/
******************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'avax_bcharity'}); -%>
</body>
</html> 
