<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL REDEMPTION FINANCE FARMING CALCULATOR 👨‍🌾 **************
INFO  : https://rdmp.finance
*************************************************************************************
(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)
(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)
(\o/)                                                                                                                                                                                    (\o/)
(/|\)    _______   ________  _______   ________  __       __  _______  ________  ______   ______   __    __        ________  ______  __    __   ______   __    __   ______   ________    (/|\)
(\o/)   |       \ |        \|       \ |        \|  \     /  \|       \|        \|      \ /      \ |  \  |  \      |        \|      \|  \  |  \ /      \ |  \  |  \ /      \ |        \   (\o/)
(/|\)   | $$$$$$$\| $$$$$$$$| $$$$$$$\| $$$$$$$$| $$\   /  $$| $$$$$$$\\$$$$$$$$ \$$$$$$|  $$$$$$\| $$\ | $$      | $$$$$$$$ \$$$$$$| $$\ | $$|  $$$$$$\| $$\ | $$|  $$$$$$\| $$$$$$$$   (/|\)
(\o/)   | $$__| $$| $$__    | $$  | $$| $$__    | $$$\ /  $$$| $$__/ $$  | $$     | $$  | $$  | $$| $$$\| $$      | $$__      | $$  | $$$\| $$| $$__| $$| $$$\| $$| $$   \$$| $$__       (\o/)
(/|\)   | $$    $$| $$  \   | $$  | $$| $$  \   | $$$$\  $$$$| $$    $$  | $$     | $$  | $$  | $$| $$$$\ $$      | $$  \     | $$  | $$$$\ $$| $$    $$| $$$$\ $$| $$      | $$  \      (/|\)
(\o/)   | $$$$$$$\| $$$$$   | $$  | $$| $$$$$   | $$\$$ $$ $$| $$$$$$$   | $$     | $$  | $$  | $$| $$\$$ $$      | $$$$$     | $$  | $$\$$ $$| $$$$$$$$| $$\$$ $$| $$   __ | $$$$$      (\o/)
(/|\)   | $$  | $$| $$_____ | $$__/ $$| $$_____ | $$ \$$$| $$| $$        | $$    _| $$_ | $$__/ $$| $$ \$$$$      | $$       _| $$_ | $$ \$$$$| $$  | $$| $$ \$$$$| $$__/  \| $$_____    (/|\)
(\o/)   | $$  | $$| $$     \| $$    $$| $$     \| $$  \$ | $$| $$        | $$   |   $$ \ \$$    $$| $$  \$$$      | $$      |   $$ \| $$  \$$$| $$  | $$| $$  \$$$ \$$    $$| $$     \   (\o/)
(/|\)    \$$   \$$ \$$$$$$$$ \$$$$$$$  \$$$$$$$$ \$$      \$$ \$$         \$$    \$$$$$$  \$$$$$$  \$$   \$$       \$$       \$$$$$$ \$$   \$$ \$$   \$$ \$$   \$$  \$$$$$$  \$$$$$$$$   (/|\)
(\o/)                                                                                                                                                                                    (\o/)
(/|\)                                                                                                                                                                                    (/|\)
(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)(\o/)
(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)(/|\)

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'base_redemptionfi'}); -%>
</body>
</html>
