<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL UPDOWN STAKING CALCULATOR 👨‍🌾 ***************
INFO  : https://updown.finance
***************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'updown'}); -%>
</body>
</html> 
