<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL PROOFOFHUMANITY FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://www.proofofhumanity.id
************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'proofofhumanity'}); -%>
</body>
</html> 
