<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL ZEX.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://www.zexswap.finance
********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_zex'}); -%>
</body>
</html> 
