<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** HUOBI ECO CHAIN **************************
    
*************** 👨‍🌾 UNOFFICIAL NUT FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://nut.money
************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'heco_nut'}); -%>
</body>
</html> 
