<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
    ***************************** POLYGON NETWORK ***************************************

    ****************** 💎 POLYDIAMOND: POLYGON'S *FIRST* HIGH VALUE YIELD FARM 💎***********************
    
                                                                                                          
                                                                                                          
                  ████████████████████████████                
                  ██░░        ░░    ██░░░░░░░░████              
                ██  ░░      ░░        ██░░░░░░██░░██░░          
              ██    ░░    ░░            ▓▓░░░░██░░░░▒▒          
            ██        ░░░░                ████░░░░░░████        
          ████        ░░                    ██░░░░░░░░████      
          ████████████░░░░░░░░░░░░████████████████████████      
          ██▒▒▒▒▒▒░░░░▓▓░░░░░░░░░░▒▒▒▒▒▒▒▒▒▒██░░▒▒░░░░████      
          ██░░░░░░    ██░░░░░░░░░░░░░░░░░░░░██░░░░░░░░████      
            ██░░░░░░  ██░░░░░░░░░░░░░░░░░░░░██░░░░░░▓▓██        
              ██░░░░  ░░██░░░░░░░░░░  ░░░░██░░░░░░████          
                ██░░░░░░██░░░░░░░░░░░░░░░░██░░░░░░██            
                  ██░░  ░░██░░░░░░░░░░░░▓▓░░░░████              
                    ██░░░░██░░░░░░░░░░░░██░░░░██                
                      ██░░░░██░░░░░░░░██░░░░██                  
                        ██░░██░░░░░░░░██░░██                    
                          ██░░██░░░░░░████                      
                            ████░░░░████                        
                              ██░░░░██                          
                                ████                            
                                                                
                                                                                                                         
      
    INFO  : 
    
    Buy DMND: https://quickswap.exchange/#/swap?outputCurrency=0x87535D127904527B84a13d11c300Cd54300aC6FC
    
    Farming
     - Farming start on block: 16310000: https://polygonscan.com/block/countdown/16310000
     - ONLY 16 TOKENS MINTED
     - Emission is limited to 0.005 DMND/block 
    Deposit fees
     - 4% on Non-native farms
     - 0% on Native farms
    
     Token
     - DMND: 0x87535D127904527B84a13d11c300Cd54300aC6FC
     - Max Supply : ~2100 DMND (Emissions will be manually stopped after 14 days)
    
     Twitter - https://twitter.com/PolyDiamond2
     Telegram - https://t.me/PolyDIAMONDfinance
    *************************************************************************************
    
    *** If you are being rate limited, please select a different RPC URL from here https://docs.matic.network/docs/develop/network-details/network/ ***

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'matic_polydiamond'}); -%>
</body>
</html> 
