<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
************************ BINANCE SMART CHAIN *************************

 *
 *  _____                     _____        _         _
 * |  __ \                   |  __ \      (_)       | |
 * | |__) |__ _  _ __   _ __ | |__) |_ __  _  _ __  | |_  _ __
 * |  ___// _  ||  _ \ |  __||  ___/|  __|| ||  _ \ | __||  __|
 * | |   | (_| || |_) || |   | |    | |   | || | | || |_ | |
 * |_|    \__,_|| .__/ |_|   |_|    |_|   |_||_| |_| \__||_|
 *              |_|
 *

*************** 👨‍🌾 UNOFFICIAL PAPRPRINTR CALCULATOR 👨‍🌾 **************
INFO    : <a href="https://paprprintr.finance" >https://paprprintr.finance</a>
TWITTER : <a href="https://twitter.com/paprprintr" >https://twitter.com/paprprintr</a>
TELEGRAM: <a href="https://t.me/paprprintr" >https://t.me/paprprintr</a>
**********************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_paprprintr'}); -%>
</body>
</html>
