<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL CINNAMONROLL.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://cinnamonroll.fi
*****************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_cinnamonroll'}); -%>
</body>
</html> 
