<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL SPOOKYSWAP.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://spookyswap.finance
***************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'fantom_spooky'}); -%>
</body>
</html> 
