<!DOCTYPE html>
<html lang="en">
  <%- include(`${partials}/head`); -%>

  <body>
    <%- include(`${partials}/header_main`); -%>
    <pre id="log">
*************** 👨‍🌾 UNOFFICIAL FANTASM FINANCE CALCULATOR 👨‍🌾 ***************
INFO  : https://fantasm.finance/
*************************************************************************

</pre
    >
    <div class="loader--1"></div>
    <%- include(`${partials}/scripts`, {scriptname: 'fantom_fantasm'}); -%>
  </body>
</html>
