<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** BSC NETWORK ****************************************
*************** 👨‍🌾 UNOFFICIAL SECURESWAP.IO FARMING CALCULATOR 👨‍🌾 *****************
INFO  : https://secureswap.io
***********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_secureswap'}); -%>
</body>
</html> 
