<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL VELOCIMETER FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://pulse.velocimeter.xyz
********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'pulse_velocimeter'}); -%>
</body>
</html> 
