<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL INUSWAP FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://inuswap.fi
******************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'doge_inuswap'}); -%>
</body>
</html> 
