<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL DYNAMIC SUPPLY FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://dyn.suply
***********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'dst'}); -%>
</body>
</html> 
