<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL MIMO FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://mimo.capital/mining
*************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'mimo'}); -%>
</body>
</html> 
