<!DOCTYPE html>
<html lang="en">
  <%- include(`${partials}/head`); -%>

  <body>
    <%- include(`${partials}/header_main`); -%>
    <pre id="log">
*************** 👨‍🌾 UNOFFICIAL CCSWAP FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://app.ccswap.org
***************************************************************************

</pre
    >
    <div class="loader--1"></div>
    <%- include(`${partials}/scripts`, {scriptname: 'bsc_ccswap'}); -%>
  </body>
</html>
