<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- Primary Meta Tags -->
        <title>Percent IOU Claim</title>
        <meta name="title" content="Percent IOU">
        <link rel="icon" href="<%= PP %>/PCT-logo.png">
        </head>
<body>
<pre id="log">
*************** Percent IOU Claim Form ***************

INFO  : https://percent-finance.medium.com/percent-finance-incident-post-mortem-d4e419cf35ab

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'percent_iou'}); -%>
</body>
</html> 
