<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
**************** 👨‍🌾 UNOFFICIAL FTM.GURU FARMING CALCULATOR 👨‍🌾 ****************
INFO        : https://ftm.guru/LF/2006
PLOT №      : 2006
ELITENESS   : User must hold 0.001337 ELITE
DEPOSIT FEE : 2%
PLEDGES     : SST-WFTM spLP
USES        : ftm.guru
REWARDS     : BLK
*****************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'fantom_guru_lite2006'}); -%>
</body>
</html>
