<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL SYNTHETIX FARMING CALCULATOR 👨‍🌾 ******************
INFO  : https://staking.synthetix.io
*********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'snx'}); -%>
</body>
</html> 
