<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 OFFICIAL SMARTDEX FARMING CALCULATOR 👨‍🌾 ***************

                                                            
    ............................,,,,,,,,,............................
    .....................,::::::;;;;;;;;;::::,,,.....................
    .................,,:++++++;;;;;;;;;;;;;;;;;;::,,..,::,...........
    ..............,::;;;*;:::;+;;;;;;;;;;;;;;;;;;;;;;++;++;..........
    ...........,,:;;;;;;+;::::;++;;;;;;;;;;;;;;;;;;++;:::;+;.........
    .........,:;;;;;;;;;+:::;;::;;;+++++++++;;;;;++;::::::;+,........
    ........,;;;;;;;;;;+;::::::::::::::::::;;;;;;::::::;+;:+;........
    ......,:;;;;;;;;++;;::::::::;;::::::::::::::::::::;+*;:;+:,......
    .....,;;;;;;;++;;:::::::::;;:::::::::::::::::::;::;+;::;+;:,.....
    ....,;;;;;;+++;;;::,:::::;:::::::::::::::::::::::;:::::;+;;;,....
    ...,;;;;;;+++;:::,:;:::::::::::::::::::::::::::::;;;;:::++;;;,...
    ...:;;;;;+++::;*?%+:;:::;;;:,,::::;;;::::::::;;;;;:;++::;+;;;:...
    ..,;;;;;++;;::?+#@%:+;;++:,,;?*%%*;:;;::::;++;:::::::::::;+;;;,..
    ..:;;;;++::;;:;*?*;+:::+:::*@;+@#@#;:;;:;;;:::::::::::::::++;;:..
    ..;;;;++:,,,::;;;;;::::+;:;+S?*#@#?::;*+::::::::::::::::::;+;;;..
    .,;;;;+:,,,,:;++;:,,::::+;:::++++:::;+;:::::::::::::::::::;+;;;,.
    .,;;;*;:,,:%SSSSS%*,,,,,,:;;::,,::;;;:,,,,,,,,:::::::::::::++;;,.
    ,,;;+;:,,,;SSS%##SS;,,,,,,,,,::::::,,,,,,,,,,,:::::::::,,,,:+;;..
    ..;++:,,,,,;?%%%%*;,,,,,,,,,,,,,,,,,,,,,,,::::;;::::::;:,,,,;+:..
    ..,++,,,,,,::;;::,,,,,,,,,,,,,,,,,,,,:::::::::::,,,,,,:;:,,:;+,..
    ...;+,,,,,,:?%S%?+:,,,,,,,,,,,,,,,,:;:;:::;;::,,,,,,,,:;::,:;;...
    ...,+:,,,,,,,:+?%%%?*++;;;:,,,,,,,;;:::,,,,:::::::::;;;:::,:+,...
    ....;;,,,,,,,,,,,:::::::,,,,,,,,,,;;:,,,,,,,:;;;++++++;::,:+;....
    ....,+:,,,,,,,,,,,,,,,,,,,,,,:,,,,:;::::::;;++++;;:::;+;::+;.....
    .....,+;,,,,,,,::,,,,,,::::::,,,,,.:;;;;++++;;::,,,,,,;+;::,.....
    ......,;;:,,,,,,::::::::::::,,,,,,:;++;;;;;++;;:::,,::;+;;,,.....
    ........:;;:,,,,,,,::::::,,,,,,,,,++;:,,,,,,:;+;;;;;+++;;,,......
    ..........:;;::,,,,,,,,,,,,,,,,,,,;+;:,,,,,::;+++++;;;:,.........
    ............,:;;;::,,,,,,,,,,,,,,.,;+;;:;;;++++;;:,..............
    ...............,,::;;;;;;;::::::::::;++++++;;:,,.................
    .....................,,:::;;;;;;;;;;:::::,,,.....................
    .................................................................
                                                            

                INFO  : https://smartdex.cash
                DOGE  : https://smartdoge.cash
                CODE  : https://github.com/smartdogebch
                TWTR  : https://twitter.com/smartdogebch
                TLGM  : https://t.me/smartdogebch


*************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'smartbch_smartdex'}); -%>
</body>
</html>