<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL PANDASWAP FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://farms.pandaswap.xyz
**************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_pandaswap'}); -%>
</body>
</html> 
