<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL MANGOFARM.FINANCE FARMING CALCULATOR 👨‍🌾 *****************
INFO  : http://mangofarm.finance
****************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_mango'}); -%>
</body>
</html>
