<!DOCTYPE html>
<html lang="en">
  <%- include(`${partials}/head`); -%>

  <body>
    <%- include(`${partials}/header_main`); -%>
    <pre id="log">
*************** 👨‍🌾 UNOFFICIAL 1001NIGHTS JASMINE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://jasmine.1001nights.gold
***************************************************************************************

</pre
    >
    <div class="loader--1"></div>
    <%- include(`${partials}/scripts`, {scriptname: 'bsc_jasmine'}); -%>
  </body>
</html>
