<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** POLYGON NETWORK *****************************************
    
*************** 👨‍🌾 UNOFFICIAL POLYPONZI FARMING CALCULATOR 👨‍🌾 ****************
INFO  : https://www.polyponzi.com/
***************************************************************************************

Prepare for the biggest ponzi since bitconnect! all the polyshit farms try to disguise themselves as a real project with "Utility" but we alll know they are just ponzi...

We say things for what they are join the ponzi first and you'll profit! We are not trying to fool anyone we all know how the launch of native tokens work until the farm launches!

Let the game begin! Good luck to all!

Join our degen community at https://t.me/PolyPonziFarm

PolyPonzi address: 0x3f573975BE13077C6435f47352437C095816D1fD

Liquidity added: 

https://quickswap.exchange/#/swap?outputCurrency=0x3f573975BE13077C6435f47352437C095816D1fD

Farm starts at Block 17031432:

https://polygonscan.com/block/countdown/17031432




*** If you are being rate limited, please select a different RPC URL from here https://docs.matic.network/docs/develop/network-details/network/ ***

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'matic_polyponzi'}); -%>
</body>
</html> 
