<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL FULCRUM FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://fulcrum.trade
************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_fulcrum'}); -%>
</body>
</html> 
