<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL MUSHROOMS.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://mushrooms.finance/farms
**************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'fantom_mushrooms'}); -%>
</body>
</html> 
