<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL LAZYMINT.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://lazymint.finance
*************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_lazymint'}); -%>
</body>
</html>
