<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL NILE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://www.nile.build
************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'linea_nile'}); -%>
</body>
</html>
