<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL COMPLI.FI FARMING CALCULATOR 👨‍🌾 ************
INFO  : https://app.compli.fi
********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'complifi'}); -%>
</body>
</html>
