<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL MACARONSWAP.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://www.macaronswap.finance
*****************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_macaron'}); -%>
</body>
</html> 
