<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL TSUKI.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://tsuki.finance
**********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_tsuki'}); -%>
</body>
</html> 
