<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL CARROTCAKE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://carrotcake.fi
*******************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_ccake'}); -%>
</body>
</html> 
