<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL STURDY.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://app.sturdy.finance
***********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'fantom_sturdy'}); -%>
</body>
</html> 
