<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** AVALANCHE **************************************
    
*************** 👨‍🌾 UNOFFICIAL LYDIA.FINANCE FARMING CALCULATOR 👨‍🌾 ***********
INFO  : https://www.lydia.finance
******************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'avax_lydia'}); -%>
</body>
</html> 
