<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL DJINN FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : http://djinn.gold
**********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_djinn'}); -%>
</body>
</html> 
