<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL EMPTYSET.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://app.emptyset.finance/dollar
*************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'emptyset'}); -%>
</body>
</html> 
