<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL TENFI FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://ten.finance
****************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_tenfi'}); -%>
</body>
</html> 
