<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 PROTOFI FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://bank.protofi.app
******************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'matic_protofi'}); -%>
</body>
</html>