<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 PLAGUE FACTORY BSC FARMING CALCULATOR 👨‍🌾 *****************
INFO  : https://bsc.plaguefactory.com
****************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_plaguefactory'}); -%>
</body>
</html>
