<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL UBESWAP FARMING CALCULATOR 👨‍🌾 *****************
INFO  : https://app.ubeswap.org
******************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'celo_ube'}); -%>
</body>
</html> 