<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL ELIXIR-SWAP FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://www.elixir-swap.io
********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_elixir'}); -%>
</body>
</html> 
