<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** AVALANCHE *********************************
    
*************** 👨‍🌾 UNOFFICIAL AVALAUNCH FARMING CALCULATOR 👨‍🌾 **********
INFO  : https://farm.avalaunch.app
*************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'avax_avalaunch'}); -%>
</body>
</html> 
