<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

  <body>
    <%- include(`${partials}/header_main`); -%>
      <pre id="log">
*************** 👨‍🌾 UNOFFICIAL NERDCOIN FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://nerdcoin.farm
******************************************************************************

</pre>
      <div class="loader--1"></div>
      <%- include(`${partials}/scripts`, {scriptname: 'arbitrum_nerd' }); -%>
  </body>

</html>