<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL OPTIDOGE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://optidoge.xyz/
**************************************************************************

Visit <a href="https://optidoge.xyz/">https://optidoge.xyz/</a> to single stake ETH!

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'optimism_optidoge'}); -%>
</body>
</html>
