<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL TACO.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : hhttps://taco.finance/
**********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_taco'}); -%>
</body>
</html> 
