<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL LOOTSWAP FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://lootswap.finance
**************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'harmony_loot'}); -%>
</body>
</html>
