<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL LOOKSRARE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://looksrare.org
******************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'looksrare'}); -%>
</body>
</html>
