<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 🐘  Elephant DEX Staking Calc 🐘  ***************

WEBSITE  : https://elephant.ac

ElephantSwap - New DEX on the Harmony Blockchain

The launch date for this DEX is Oct. 16 2021 ~5PM UTC. Please see the medium article below for additional information.

https://medium.com/@elephantdex/elephantswap-e86bfee371e7

Join us on discord: https://discord.gg/6fFvUghhg7

+ + + + - - - + + - - - - - - - - - - - -- - - - - - - - - - - + + - - - + + + +
+                                                                              +
+                            .01010101010101010101.                            +
+                       .0101..                   .0101.                       +
.                   .101.                              .010.                   .
.                 :010.                                     :0.                .
.              .01.                                           :0.              .
+            .01                                                :0.            +
+           01                                                    01.          +
.         :01                                                       10.        .
.        01                              .-101010101-.               10:       .
.       01                            ,10101010101010101.             01.      .
.      01                           .0101```~0101010101010             .0.     .
.     01                        .: .010 ,101. 0101010101010.            .1.    .
.    01                  .-=010101 010 10 101 01010101010101.            01    .
.   .0.             .+010101010101 01 0101,..0101010 10101010             0.   .
.   01             101010101010101 01 01010101010101010101010:            01   .
.  .0.            0101010101010101 01 01010101010101010101`01:            .0.  .
.  .1.           010101010101010101 01.0101010101010101*` 0101             1.  .
.  .0.          .0101010101010101010.`010101010101 :|: _01010+             0.  .
.  .1.          010101010101010101010`.10101010101010101010101             1.  .
.   0.         :0101010101010101010101010101010101010**1010101             0.  .
.   01        .01010101010101010101010101010101010101   0101010           .1.  .
.   01       .01 010101010101010101010101010101010101    010101:          10   .
.    0.     .+`  010101010101010101+010101010:1010101     010101+.        01   .
.    01          010101 0101010     101010101 0101010      `10101010+:   10    .
.     01         010101 010101+     .0101010+ 0101010        `*101010%  .01    .
.      01        010101 010101.     .0101010+ 0101010                  .01     .
.       10       010101 010101       0101010. 0101010                 01.      .
.        01                                                          10.       .
.         01.                                                       01         .
+          .01                                                    01.          +
+            .10                                                10.            +
.              .01.                                           01.              .
.                .01:                                      .01.                .
.                   .010.                              .010.                   .
+                       .0101.                    .01010                       +
+                           `-10101010101010101010.`                           +
+                                                                              +
+ + + + - - - + + - - - - - - - - - - - -- - - - - - - - - - - + + - - - + + + +


**************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'harmony_elephant'}); -%>
</body>
</html> 
