<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL ARBITER FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://lootswap.finance/guilds/arb
**************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'harmony_arbiter'}); -%>
</body>
</html> 
