<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL UNIREX FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://unirex.finance
**********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'fantom_unirexfinance'}); -%>
</body>
</html>
