<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** FANTOM NETWORK *************************************
    
*************** 👨‍🌾 UNOFFICIAL MORPHEUS SWAP FARMING CALCULATOR 👨‍🌾 *********************
INFO  : https://morpheusswap.finance/
***********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'fantom_morpheus'}); -%>
</body>
</html> 
