<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL HONEYFARM.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://honeyfarm.finance
**************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_honeyfarm'}); -%>
</body>
</html> 
