<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL VELOCIMETER FARMING CALCULATOR 👨‍🌾 ************
INFO  : https://canto.velocimeter.xyz
*****************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'canto_velocimeter'}); -%>
</body>
</html> 
