<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL OPENSWAP FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://app.openswap.one/ 
**************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'harmony_oswap'}); -%>
</body>
</html> 
