<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL SILVER.ETERNITY FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://silver.eternity.money
************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_silver'}); -%>
</body>
</html> 
