<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
**************** 👨‍🌾 UNOFFICIAL FTM.GURU FARMING CALCULATOR 👨‍🌾 ****************
INFO        : https://ftm.guru/LF/1011
PLOT №      : 1011
ELITENESS   : User must hold 0.001337 ELITE
DEPOSIT FEE : 2%
PLEDGES     : SUN-WFTM SPIRIT-LP
USES        : SpiritSwap
REWARDS     : SUN
TIMELOCK    : 1 WEEK Deposit
*****************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'fantom_guru_lite1011'}); -%>
</body>
</html>
