<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL POLYGALAXY.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://polygalaxy.finance
***************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'matic_polygalaxy'}); -%>
</body>
</html>
