<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** AVALANCHE ************************************
    
*************** 👨‍🌾 UNOFFICIAL THE BUD FARM FARMING CALCULATOR 👨‍🌾 ***********
INFO  : https://www.thebudfarm.app
****************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'avax_bud'}); -%>
</body>
</html> 
