<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL SASHIMI FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://bsc.sashimi.cool/
****************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_sashimi'}); -%>
</body>
</html> 
