<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** AVALANCHE ******************************************
    
*************** 👨‍🌾 UNOFFICIAL PANDASWAP.FINANCE FARMING CALCULATOR 👨‍🌾 ***********
INFO  : https://pandaswap.exchange
**********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'avax_panda'}); -%>
</body>
</html> 
