<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************UNOFFICIAL WAPSWAP.FINANCE FARMING CALCULATOR ***************
INFO  : https://dapp.wapswap.finance
****************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_wapswap'}); -%>
</body>
</html> 
