<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 OFFICIAL CLEVER PROTOCOL FARMING CALCULATOR 👨‍🌾 ***************
                                                        
                                                                                          
                                        :=#%*=:.                                           
                                    .-%@@@@@@@@%*=:                                       
                                 .=#@#@@@@@@@@@@@@@@%*=:                                  
                              .=#@@@#@@@@@@@@@@@@@@@@@@@@%*=:.                            
                           .=#@@@@@@#@@@@@@@@@@@@@@@@@@@@@@@@@%*=:                        
                        .=#@@@@@@@@#@@@@@@@@@@@@@@@@@@@@@@@@@@@@%+-                       
                     .=#@@@@@@@@@##@@@@@@@@@@@@@@@@@@@@@@@@@#+-                           
                    =%@@@@@@@@@@#=+@@@@@@@@@@@@@@@@@@@@@@*:                               
                        .:-=+*%@==+@@@@@@@@@@@@@@@@@@@@@@*                                
                              -@%%%@@@@@@@@@@@@@@@@@@@@@%#                                
                               @@@@@@@@@%%###**+++==---:=.                                
                               =*+++--::::::::::::--:::::--:.                             
                               :-::::-::::::::::::::--:::.:---.                           
                               --:----:::::::::--::--::::::::-=:                          
                              :-::-:::-=-::::---==-.:=--=-%++:--:                         
                              =::::::::::---=:=@%+=#::=:--++=:-:-.                        
                             .=::::::::::::-=::+#++=:--::::--:  .-.                       
                             -::............:--::::::.   :*###*...=.                      
                            .-.                ....      =####*. .:-                      
                            ::.                 .....     .--:.   .=                      
                            ::.                ...  .....-+*#+:   .=                      
                             =.                      .:----:..   .:-                      
                              -..                 ...........    .-                       
                               :-..               ...........  .:-                        
                                 :::..              ........ ..-:                         
                                    ::::...              ..:::.                           
                                        .:::::::::::::::::.                               
                                                                                                                                 

                WEBSITE   : https://clever.smartdoge.cash 
                LINKTREE  : https://linktr.ee/smartdogedex
                TWITTER   : https://twitter.com/smartdogebch


*************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'doge_cleverprotocol'}); -%>
</body>
</html>