<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL PEGS CASH CALCULATOR 👨‍🌾 ******************
INFO  : https://pegs.cash
*************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'pegs'}); -%>
</body>
</html> 
