<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

  <body>
    <%- include(`${partials}/header_main`); -%>
      <pre id="log">
*************** 👨‍🌾 UNOFFICIAL BUNICORN EXCHANGE FARMING CALCULATOR 👨‍🌾 *****************
INFO  : https://bunicorn.exchange
****************************************************************************************

Bunicorn NFT Farms From 2PM UTC 28 July, 2021 to 2PM UTC 27 Aug, 2021
</pre>
      <div class="loader--1"></div>
      <%- include(`${partials}/scripts`, {scriptname: 'bsc_bunicorn' }); -%>
  </body>

</html>
