<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** AVALANCHE *********************************
    
*************** 🐬 UNOFFICIAL DOLPHIN FINANCE FARMING CALCULATOR 🐬 ***********
INFO  : https://www.dolphinswap.finance/
************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'avax_dolphinfinance'}); -%>
</body>
</html> 
