<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>
<body>
<pre id="log">
    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMmyy++:-.            .-:++yymMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMmho:-`                            `-/ohmMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMMMMMMMMMMms/.                                        ./ymMMMMMMMMMMMMMMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMMMMMMNy+.`                                              `.+hMMMMMMMMMMMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMMMMh/`                                                      .+hMMMMMMMMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMNo.                                                            -oNMMMMMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMd/.                           .-:/+oooooo+//:.`                    .+dMMMMMMMMMMMMMMM
    MMMMMMMMMMMMMd/`                        `:+ydNNMMMMMMMMMMMMNNmds/.                  `/dMMMMMMMMMMMMM
    MMMMMMMMMMMm+`                        `smNMMMMMMMMMMMMMMMMMMMMMMMNy-                  `oNMMMMMMMMMMM
    MMMMMMMMMMs.                          +MMMMMMMMMMMMMMMMMMMMMMMMMMMMh                    -yMMMMMMMMMM
    MMMMMMMMm/                            hMMMMMMMMMMMMMMMMMMMMMMMMMMMMN-                    `/NMMMMMMMM
    MMMMMMMh.                            .NNmdhhysso++++++oossyhddmNMMMMs                      -dMMMMMMM
    MMMMMMy`                            `.//:::-:::::::::::---------:/ohy`                      .hMMMMMM
    MMMMMo                       `.:+oyhdmmmNNNMMMMMMMMMMMMMMNNNmmmdhyso+:-.`                    `yMMMMM
    MMMMo                     `/ydNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNmdho/.`                `hMMMM
    MMMy                     `hMMMMMMMMMMMMNmmdyyso+++++ossyhdmmNNMMMMMMMMMMMMMMNd+.               `dMMM
    MMm`                      yMMMMMMMMMMN/-.`  `..--:::::--..---:/oydmMMMMMMMMMMMMh                .NMM
    MM:                       `oNMMMMMMMMm+:```:dNNMMMMMMMMMNNmmh-    .+mMMMMMMMMNh:                 /MM
    Ms                        .smMMMMMMMMMMMmmmNMMMMMMMMMMMMMMMmh-      -mMMNdho/.                    hM
    N.                        /mNMMMMMMMMMMMm//yMMMMMMMMMMMMMMm` .       -MM+                         :M
    y                          `yMMMMMMMMMNh-  .NMMMMMMMMMMMMMh oy        dMh                          m
    /                       ./symMMMMMMNds:     oMMMMMMMMMMMMM+:N:        sMN                          o
                          -hNMMMMNmhs+:`         :sdNNMMMMMNms.md`        oMN`                         :
                         +MMMMMMMMMMMMd.             `.---.`  /Ms         +MN.                          
                        :MMhMMMMMMMMNh/                       yM/         -MM:                          
                        hMd -yMNdy+-`                         hM+         `mMs                          
                        dMh   dN.                             sMh          +MN-                         
                        +MN/  /Mm-                            -NM/         `dMh                         
    .                    +NMdo/yMMy:`        `..-.`            +MNo`        -NM+                       .
    +                     `/hMMdhsdNNmdhhddmmNNNNmmh:           :dMmo-`     .dMh                       +
    d                       .MMo. `.:+ooooo+/:-..``:/            `/hNNmhyyydNNd-                       d
    N-                       /dNNdhyysoo+/:-.`                      `:+syyMMh-`                       -N
    My                        `-/+osyyhmMMmmmmy+.                        `NMo                         hM
    MM:                                .NMs..-+hm-  ``                    mMy                        /MM
    MMm.                                hMh    -Ns:sm/                    oMN.                      .NMM
    MMMh`                               yMd`   +MmNMd`                    `hMy`                    `hMMM
    MMMMy                               yMd`  `oohNy.                      .dMy`                  `hMMMM
    MMMMMo`                             hMd   .+hs:                     `./ymNmd/`               `yMMMMM
    MMMMMMy`                    `:+/:.``mMh::://-  `.--::.          `-/sddds/../yy:             `yMMMMMM
    MMMMMMMh.                   /MMMMNdhMMMMMMNNdyhdmNNMMm.  ``.:+syhhyo:.`      ..            -dMMMMMMM
    MMMMMMMMm/                  :MMMMMMhNMMMMMMMMMMMMMMMMN-osyyyso/-.`                       `/NMMMMMMMM
    MMMMMMMMMMs.                 yMMMMM+oMMMMMMMMMMMMMMMMo`-.``                             -yMMMMMMMMMM
    MMMMMMMMMMMm+`               hMMMMMm:+dmmmdhNMMMMMMMM+                                `oNMMMMMMMMMMM
    MMMMMMMMMMMMMd/`             +NMNmh+. ````  -ymNMMMMN:                              `/dMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMd/.            -:-`            `-/++/-                             .+dMMMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMNo.                                                            -oNMMMMMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMMMNh/`                                                      .+hMMMMMMMMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMMMMMMNy+.                                               `.+hMMMMMMMMMMMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMMMMMMMMMMds:.                                        .+ymMMMMMMMMMMMMMMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMmho:``                            `-/ohmMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMmys++:-.    404     .-:++yymMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
</pre>
<%- include(`${partials}/scripts`, {scriptname: 'homepage'}); -%>
</body>
</html>
