<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>
<body>
<pre class="container">
---Pool Provider---     --------LP--------          --Reward Tokens--  --INFO--
     Yam                 <a href="yam/"            >YAM-ETH SLP</a>                 YAM                https://yam.finance/farm
     yAxis               <a href="yaxis/"          >Various</a>                     yAxis              https://yaxis.io/farms
     Pickle              <a href="pickle/"         >Various</a>                     Pickle             https://pickle.finance/farms
     HolyHeld            <a href="holy/"           >Various</a>                     HOLY               https://app.holyheld.com/
     Stabilize           <a href="stabilize/"      >Various</a>                     STBZ               https://stabilize.finance
     SwapShip            <a href="swapship/"       >Various</a>                     SWSH,RTC           https://www.swapship.finance/staking
     Alpha DEX           <a href="alphadex/"       >Various</a>                     DEX                https://kitten.finance
     Kitten              <a href="kitten/"         >Various</a>                     kBASEv0            https://kitten.finance
     Ichi                <a href="ichi/"           >Various</a>                     Ichi               https://ichi.farm
     TrueFi              <a href="truefi/"         >Various</a>                     TRU                https://app.truefi.io/farm
     Benchmark           <a href="benchmark/"      >Various</a>                     MARK               https://launchpad.benchmarkprotocol.finance/pools
     Basis               <a href="basis/"          >Various</a>                     BAS,BAC            https://basis.cash
     Badger              <a href="badger/"         >Various</a>                     BADGER             https://app.badger.finance
     PowerIndex          <a href="powerindex/"     >Various</a>                     CVP                https://powerindex.io
     UpDown              <a href="updown/"         >UPDOWN / UPDOWN-ETH</a>         wETH               https://updown.finance
     Build Finance       <a href="build/"          >BUILD-ETH</a>                   bCRED              https://build.finance
     Empty Set Dollar    <a href="esd/"            >Various</a>                     ESD                https://app.emptyset.finance/
     Dynamic Set Dollar  <a href="dsd/"            >Various</a>                     DSD                https://dsd.finance/app
     Basis Dollar        <a href="bsd/"            >Various</a>                     BSD,BSDS           https://basisdollar.fi/
     Frax Finance        <a href="frax/"           >Various</a>                     FXS                https://app.frax.finance/
     Debase              <a href="debase/"         >Various</a>                     DEBASE,DEGOV       https://debaseonomics.io
     1inch               <a href="1inch/"          >Various</a>                     1INCH              https://1inch.exchange/#/dao/farming
     MITH Cash           <a href="mithcash/"       >Various</a>                     MIS,MIC            https://mith.cash
     One Cash            <a href="onecash/"        >Various</a>                     ONC,ONS            https://onecash.finance
     Basis Gold          <a href="bsg/"            >Various</a>                     BSG,BSGS           https://basis.gold
     Harvest Finance     <a href="harvest-finance/">Various</a>                     FARM               https://harvest.finance
     Typhoon Cash        <a href="typhoon/"        >Various</a>                     PHOON              https://typhoon.cash
     Armor               <a href="armor/"          >Various</a>                     ARMOR              https://armor.fi
     
     
*** Disclaimer ***

I am in no way affiliated with the above projects, nor do I endorse them. Please do your own research before investing.


-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
| <a href="https://twitter.com/vfat12" target="_blank">Twitter</a> - <a href="https://github.com/vfat-tools/vfat-tools" target="_blank">Github</a> - <a href="https://gitcoin.co/grants/1809/vfattools-yield-farming-calculators" target="_blank">Gitcoin</a> |
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
</pre>
<%- include(`${partials}/scripts`, {scriptname: 'homepage'}); -%>
</body>
</html>
