<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>
<body>
<pre class="container">
---Pool Provider--- --------LP--------          --Reward Tokens--  --INFO--
     Yam            <a href="yam/"       >YAM-yyCRV</a>                   YAM                https://yam.finance/farm
     Safe           <a href="safe/"      >SAFE-DAI</a>                    SAFE               https://yieldfarming.insure/stake
     yfBeta         <a href="yfbeta/dai" >DAI</a>                         yfBeta             https://yfbeta.finance/index.html 
     yfBeta         <a href="yfbeta/usdt">USDT</a>                        yfBeta             https://yfbeta.finance/index.html 
     yfBeta         <a href="yfbeta/usdc">USDC</a>                        yfBeta             https://yfbeta.finance/index.html 
     yAxis          <a href="yaxis"      >Various</a>                     yAxis              https://yaxis.io/farms
     Pickle         <a href="pickle"     >Various</a>                     Pickle             https://pickle.finance/farms


If you have benefited from websites such as this, please take a moment to donate to WeebMcgee, creator of the original <a href="https://yieldfarming.info">yieldfarming.info</a>.

Donation: https://gitcoin.co/grants/1005/yieldfarminginfo
          0x4BC821fef2ff947B57585a5FDBC73690Db288A49

*** Disclaimer ***

I am in no way affiliated with the above projects, nor do I endorse them. Please do your own research before investing.
</pre>
<%- include(`${partials}/scripts`, {scriptname: 'homepage'}); -%>
</body>
</html>