<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>
<body>
<pre class="container">
---Pool Provider--- --------LP--------          --Reward Tokens--  --INFO--
     Yam            <a href="yam/"       >YAM-ETH SLP</a>                 YAM                https://yam.finance/farm
     yfBeta         <a href="yfbeta/dai" >DAI</a>                         yfBeta             https://yfbeta.finance/index.html 
     yfBeta         <a href="yfbeta/usdt">USDT</a>                        yfBeta             https://yfbeta.finance/index.html 
     yfBeta         <a href="yfbeta/usdc">USDC</a>                        yfBeta             https://yfbeta.finance/index.html 
     yAxis          <a href="yaxis/"     >Various</a>                     yAxis              https://yaxis.io/farms
     Pickle         <a href="pickle/"    >Various</a>                     Pickle             https://pickle.finance/farms
     HolyHeld       <a href="holy/"      >Various</a>                     HOLY               https://app.holyheld.com/
     Stabilize      <a href="stabilize/" >Various</a>                     STBZ               https://stabilize.finance
     Lua            <a href="lua/"       >Various</a>                     LUA                https://luaswap.org
     SwapShip       <a href="swapship/"  >Various</a>                     SWSH,RTC           https://www.swapship.finance/staking
     Alpha DEX      <a href="alphadex/"  >Various</a>                     DEX                https://kitten.finance
     Kitten         <a href="kitten/"    >Various</a>                     kBASEv0            https://kitten.finance
     Ichi           <a href="ichi/"      >Various</a>                     Ichi               https://ichi.farm
     TrueFi         <a href="truefi/"    >Various</a>                     TRU                https://app.truefi.io/farm
     Benchmark      <a href="benchmark/" >Various</a>                     MARK               https://launchpad.benchmarkprotocol.finance/pools
     Basis          <a href="basis/"     >Various</a>                     BAS,BAC            https://basis.cash
     Badger         <a href="badger/"    >Various</a>                     BADGER             https://app.badger.finance
     PowerIndex     <a href="powerindex/">Various</a>                     CVP                https://powerindex.io
     UpDown         <a href="updown/"    >UPDOWN / UPDOWN-ETH</a>         wETH               https://updown.finance


*** Disclaimer ***

I am in no way affiliated with the above projects, nor do I endorse them. Please do your own research before investing.
</pre>
<%- include(`${partials}/scripts`, {scriptname: 'homepage'}); -%>
</body>
</html>