<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>
<body>
<pre class="container">
---Pool Provider--- --------LP--------          --Reward Tokens--  --INFO--
     Yam            <a href="yam/"       >YAM-yyCRV</a>                   YAM                https://yam.finance/farm
     yfBeta         <a href="yfbeta/dai" >DAI</a>                         yfBeta             https://yfbeta.finance/index.html 
     yfBeta         <a href="yfbeta/usdt">USDT</a>                        yfBeta             https://yfbeta.finance/index.html 
     yfBeta         <a href="yfbeta/usdc">USDC</a>                        yfBeta             https://yfbeta.finance/index.html 
     yAxis          <a href="yaxis/"     >Various</a>                     yAxis              https://yaxis.io/farms
     Pickle         <a href="pickle/"    >Various</a>                     Pickle             https://pickle.finance/farms
     HolyHeld       <a href="holy/"      >Various</a>                     HOLY               https://app.holyheld.com/
     Stabilize      <a href="stabilize/" >Various</a>                     STBZ               https://stabilize.finance
     Lua            <a href="lua/"       >Various</a>                     LUA                https://luaswap.org
     Metric         <a href="metric/"    >Build, Metric</a>               Metric             https://stake.metric.exchange
     Percent        <a href="percent/"   >ETH-PCT</a>                     Percent            https://percent.finance
     SwapShip       <a href="swapship/"  >Various</a>                     SWSH,RTC           https://www.swapship.finance/staking
     Alpha DEX      <a href="alphadex/"  >Various</a>                     DEX                https://kitten.finance
     Kitten         <a href="kitten/"    >Various</a>                     kBASEv0            https://kitten.finance
     HYPE           <a href="hype/"      >Various</a>                     HYPE               https://hypeup.finance


If you have benefited from websites such as this, please take a moment to donate to WeebMcgee, creator of the original <a href="https://yieldfarming.info">yieldfarming.info</a>.

Donation: https://gitcoin.co/grants/1005/yieldfarminginfo
          0x4BC821fef2ff947B57585a5FDBC73690Db288A49

*** Disclaimer ***

I am in no way affiliated with the above projects, nor do I endorse them. Please do your own research before investing.
</pre>
<%- include(`${partials}/scripts`, {scriptname: 'homepage'}); -%>
</body>
</html>