<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL OLIVE.CASH FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://fantom.olive.cash
*******************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'fantom_olive'}); -%>
</body>
</html> 
