<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 🐕 UNOFFICIAL POLY DACHSHUND FARMING CALCULATOR 🐕 ***************
TG: https://t.me/polydachs
**************************************************************************************
<img src="https://www.pdsa.org.uk/media/9901/gallery-8-dachshund-puppy.jpg?anchor=center&mode=crop&quality=100&height=500&bgcolor=fff&rnd=132409430340000000">

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'matic_polydachs'}); -%>
</body>
</html>
