<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
************************ POLYGON NETWORK **********************************

*************** 👨‍🌾 UNOFFICIAL BELUGA.FI FARMING CALCULATOR 👨‍🌾 ************
INFO  : https://app.beluga.fi
***************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'matic_beluga'}); -%>
</body>
</html>
