<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** AVALANCHE *********************************
    
*************** 👨‍🌾 OFFICIAL XDOLLAR FARMING CALCULATOR 👨‍🌾 **************
INFO : https://xdollar-avax.mcn.ventures
*************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'avax_xdollar'}); -%>
</body>
</html> 
