<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL PUMPY DEFI FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://pumpy.farm
*******************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_pumpy'}); -%>
</body>
</html> 
