<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL DRACO.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://dracodefi.com/
*********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'fantom_draco-story'}); -%>
</body>
</html>