<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** THE DON FINANCE FARMING CALCULATOR ***************
/**
 *
 *  
 *  ████████╗██╗  ██╗███████╗    ██████╗  ██████╗ ███╗   ██╗
 *  ╚══██╔══╝██║  ██║██╔════╝    ██╔══██╗██╔═══██╗████╗  ██║
 *     ██║   ███████║█████╗      ██║  ██║██║   ██║██╔██╗ ██║
 *     ██║   ██╔══██║██╔══╝      ██║  ██║██║   ██║██║╚██╗██║
 *     ██║   ██║  ██║███████╗    ██████╔╝╚██████╔╝██║ ╚████║
 *     ╚═╝   ╚═╝  ╚═╝╚══════╝    ╚═════╝  ╚═════╝ ╚═╝  ╚═══╝
 *
 **                                                          
*/   

Website  	: https://thedon.finance
Telegram	: https://t.me/fatfiredao
Twitter		: https://twitter.com/thedonfinance1

*********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'fantom_thedon'}); -%>
</body>
</html>
