<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** BINANCE SMART CHAIN NETWORK *************************************

*************** 👨‍🌾 UNOFFICIAL BSC.RYUINU.FINANCE FARMING CALCULATOR 👨‍🌾 **************
INFO  : https://bsc.ryuinu.finance
***********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_ryuinu'}); -%>
</body>
</html>
