<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL MAIADAO FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://www.maiadao.xyz
****************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'metis_maiadao'}); -%>
</body>
</html> 
