<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
************************************* FANTOM NETWORK *******************************************************
    
***************   👨‍🌾  UNOFFICIAL ALTERNATES.FINANCE (LAYER 2) FARMING CALCULATOR  👨‍🌾  *********************
INFO  : https://alt2.alternates.finance
************************************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'fantom_alternates2'}); -%>
</body>
</html> 
