<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** BSC NETWORK ******************************************

*************** 👨‍🌾 UNOFFICIAL KYBER-DMM FARMING CALCULATOR 👨‍🌾 *************
INFO  : https://dmm.exchange/
***************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_kyber'}); -%>
</body>
</html> 
