<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL GOCERBERUS.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://gocerberus.finance
***************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_cerberus'}); -%>
</body>
</html> 
