<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL KEFIRSWAP FARMING CALCULATOR 👨‍🌾 ************
INFO  : https://kefirswap.net
***************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'kava_kefir'}); -%>
</body>
</html>
