<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL UNICRYPT FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://farm.unicrypt.network
*************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'unicrypt'}); -%>
</body>
</html> 
