<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL PANTYSWAP.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://pantyswap.yieldpanty.finance
**************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_panty'}); -%>
</body>
</html> 
