<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL JUNGLESWAO FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://jungleswap.cash
*******************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_jungle'}); -%>
</body>
</html> 
