<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** POLYGON NETWORK ***************************************


      ██████╗░░█████╗░██╗░░░░░██╗░░░██╗███╗░░░███╗███████╗███╗░░░███╗███████╗
      ██╔══██╗██╔══██╗██║░░░░░╚██╗░██╔╝████╗░████║██╔════╝████╗░████║██╔════╝
      ██████╔╝██║░░██║██║░░░░░░╚████╔╝░██╔████╔██║█████╗░░██╔████╔██║█████╗░░
      ██╔═══╝░██║░░██║██║░░░░░░░╚██╔╝░░██║╚██╔╝██║██╔══╝░░██║╚██╔╝██║██╔══╝░░
      ██║░░░░░╚█████╔╝███████╗░░░██║░░░██║░╚═╝░██║███████╗██║░╚═╝░██║███████╗
      ╚═╝░░░░░░╚════╝░╚══════╝░░░╚═╝░░░╚═╝░░░░░╚═╝╚══════╝╚═╝░░░░░╚═╝╚══════╝

                    █░█ █▀▀ ▄▀█ ▀█▀   █▀█ █▄░█ █░░ █▄█
                    ▀▄▀ █▀░ █▀█ ░█░   █▄█ █░▀█ █▄▄ ░█░

                            █▄█ █ █▀▀ █░░ █▀▄   █▀▀ ▄▀█ █▀█ █▀▄▀█
                            ░█░ █ ██▄ █▄▄ █▄▀   █▀░ █▀█ █▀▄ █░▀░█


                               <a href="https://twitter.com/polymemefi" target="_blank" rel="noopener noreferrer">Twitter</a> - <a href="https://t.me/joinchat/wdVk26oYjyc4ODJh" target="_blank" rel="noopener noreferrer">Telegram</a>


A vfat only farm for the true aficionados. We would like to thank our PolyMaple brothers for paving the way.


LINKS:
  * <a href="https://quickswap.exchange/#/swap?outputCurrency=0xf481507e1d833b76a68b73be9f1f68eecdcf265b" target="_blank" rel="noopener noreferrer">BUY MEME</a>
  * <a href="https://quickswap.exchange/#/add/0x0d500b1d8e8ef31e21c99d1db9a6444d3adf1270/0xf481507e1d833b76a68b73be9f1f68eecdcf265b" target="_blank" rel="noopener noreferrer">ADD LIQUIDITY</a>

TOKEN:
  * Symbol: <a href="https://explorer-mainnet.maticvigil.com/address/0xf481507E1d833B76A68B73bE9F1F68EEcdCF265B/contracts" target="_blank" rel="noopener noreferrer">MEME</a>
  * Anti-whale  (0.1% Max total supply transfer amount)
  * 5% Transfer Fee - 2% Burned, 3% added to liquidity
  * 500 Tokens Pre-mined: 400 to LP & 100 For Promotions and Costs
  * Liquidity Locked: <a href="https://explorer-mainnet.maticvigil.com/address/0xB6b9f14A318063BA44D5f21D34fEF0E1016ECA8c/tokens" target="_blank" rel="noopener noreferrer">0xB6b9f14A318063BA44D5f21D34fEF0E1016ECA8c</a>

FARMING:
  * Masterchef: <a href="https://explorer-mainnet.maticvigil.com/address/0x1A7Cee127cF9ABc8586e422d8ab5e336298D0472" target="_blank" rel="noopener noreferrer">0x1A7Cee127cF9ABc8586e422d8ab5e336298D0472</a>
  * Farming Starts on Block: 15766069 — Tuesday, Jun 15th 10 PM UTC
  * Harvest Start on  Block: 15895669 - Friday,  Jun 18th 10 PM UTC
  * Harvest Cooldowns:
      - Native:     12 Hours
      - Non-Native: 20 Hours

DEPOSIT FEES:
  * 0% On Native Farms
  * 2% On Non-Native Farms

NOTES:
  * dQUICK has no liquidity pool so token price and market cap will be 0. This does not affect farming rewards!
  * Use 6% slippage when swapping tokens due to transfer fee.


*************************************************************************************

*** If you are being rate limited, please select a different RPC URL from here https://docs.matic.network/docs/develop/network-details/network/ ***

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'matic_polymeme'}); -%>
</body>
</html>
