<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL GOVERNORDAO FINANCE CALCULATOR 👨‍🌾 ************
INFO  : https://governordao.org
**************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'governordao'}); -%>
</body>
</html> 
