<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL THE MOUSSE.FINANCE FARMING CALCULATOR 👨‍🌾 *****************
INFO  : https://mousse.finance
*******************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_mousse'}); -%>
</body>
</html>
