<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** FANTOM ************************************
    
*************** 👨‍🌾 UNOFFICIAL GENESYS CALCULATOR 👨‍🌾 ***********
INFO  : https://genesys.app
****************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'fantom_genesys'}); -%>
</body>
</html> 
