<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL 7GODS FARMING CALCULATOR 👨‍🌾 ***************

DAPP  : https://7gods.xyz

******************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'avax_7gods'}); -%>
</body>
</html> 
