<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL ALUNA FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://aluna.social/farm
**************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'aluna'}); -%>
</body>
</html> 
