<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL MOONSHIELD.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : http://moonshield.finance
***************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_moonshield'}); -%>
</body>
</html> 
