<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** AVALANCHE ************************************
    
*************** 👨‍🌾 UNOFFICIAL THE BLOSSOM FARM FARMING CALCULATOR 👨‍🌾 ***********
INFO  : https://bloom.theseedfarm.app
****************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'avax_bloom'}); -%>
</body>
</html> 
