<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL ETHEREX V2 POSITIONS CALCULATOR 👨‍🌾 ***************
INFO  : https://www.etherex.finance
*********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'linea_etherex'}); -%>
</body>
</html> 
