<!DOCTYPE html>
<html lang="en">
  <%- include(`${partials}/head`); -%>

  <body>
    <%- include(`${partials}/header_main`); -%>
    <pre id="log">
*************** 👨‍🌾 UNOFFICIAL UBIQUITY CALCULATOR 👨‍🌾 ***************
INFO  : https://ubq.fi/
*****************************************************************

</pre
    >
    <div class="loader--1"></div>
    <script src="<%= PP %>/js/ubiquity_data.js"></script>
    <%- include(`${partials}/scripts`, {scriptname: 'ubiquity'}); -%>
  </body>
</html>
