<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** MOONRIVER NETWORK ********************************

*************** 👨‍🌾 UNOFFICIAL MOON SWAP CALCULATOR 👨‍🌾 ****************
INFO  : https://moonswap.tech
******************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'moonriver_moonswap'}); -%>
</body>
</html>
