<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL MONOLITH FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://alpha.mono.farm
*****************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'monolith'}); -%>
</body>
</html>
