<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL HALVAR FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://www.halvar.farmwiki.xyz
***************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_halvar'}); -%>
</body>
</html> 
