<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾  WEREWOLF CLASH OF ICE FARMING CALCULATOR 👨‍🌾 *****************
INFO  : https://clash.werewolf.farm
*****************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_werewolf_clash_ice'}); -%>
</body>
</html>
