<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL TRISOLARIS FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://nearpad.io
*******************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'aurora_nearpad'}); -%>
</body>
</html> 
