<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL FAXE FARMING CALCULATOR 👨‍🌾 *****************
INFO  : https://www.faxe.farmwiki.xyz
***************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_faxe'}); -%>
</body>
</html>
