<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL 9INCH FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://app.9inch.io
**************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'pulse_9inch'}); -%>
</body>
</html> 
