<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 😏 SmugDoge Staking Calc 🐕  ***************

WEBSITE  : https://smugdoge.com

DEX      : https://smugswap.com

TG       : https://t.me/smugdogeone

TWITTER  : https://twitter.com/smugdoge

SmugSwap - New DEX on the Harmony Blockchain


        ░░░░░░░░░░░░░░▒▒▒░░░░░░░░░░░░░░░░░░░░░░░░░░░░
        ░░░░░░░░░░░░░░▒▒▒▒▒░░░░░░░░░░░░░░░░░░░░░░░░░░
        ░░░░░░░░░░░░░▒▒▒▒▒▒▓▒░░░░░░░░░░░░░▒▒▒▒▒░░░░░░
        ░░░░░░░░▒░░░░▓▒▓█▒▒▒▓▒▒▒▒▒▒▒▒░░░▒▓▒▒▒▒▒░░░░░░
        ░░░░░░▒▒▒▒▒░▒▓▒▓▓▒▒▒▒▓▓▓▓▓▓▓▓▓▒▓▓▒▒▓█▓▒░░░░░░
        ░░░░░▒▒▒▒▒░░▒▓▒▒▒▒▒▒▒▒▒▓▓▓▓▓▒▒▒▒▒▒▓█▓▓▒░░░░░░
        ░░░▒▒▒▒▒▒▒░░▒▒▒▒▒▒▒▒▒░░▒▓▓▒▒░░░░▒░▒▓▓▓░░░░░░░
        ░░▒▒▒▒▒▒▒░░▒▒▒▒▒▒▓▓▓█▒▒▒▒▒▒▒▒▒▒▒▒▒░░▒▒░░░░░░░
        ░░▒▒▒▒▒▒▒░▒▒▒▒░░░░▒▓▒▒░▒▒▒▒░▒█▓█▓▒▒▒▒▒░░░░░░░
        ░▒▒▒▒▒▒▒▒▒▓▒▒░░░░░░░░░▒▒▒▒▒░░░▒▒░░▒▒▒▒░░░░░░░
        ░▒▒▒▒▒▒▒▒▒▓▒▒▒▒▒░░░░░▒██████░░░░░░░▒▒▒░░░░░░░
        ░▒▒▒▒▒▒▒▒▒▓▓▓▒▒▒▒▒░░░▒█████▓░░░░░▒▒▒▒▒░░░░░░░
        ░▒▒▒▒▒▒▒▒▓▓▓▓▓▒▒▒▓▓▓▓▓████▓▒▒▒▒▒▒▒▒▒▒░░░░░░░░
        ░▒▒▒▒▒▒▒▒▓▒▓▓▓▒▒▒▒▓▓▓▓█████▓▓▓▓▒▒▒▒▒░░░░░░░░░
        ░░▒▒▒▒▒▒▓▒▒▒▓▒▒▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▒▒▒▓░░░░░░░░░░░
        ░░▒▒▒▒▒▒▓▒▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▒░░░░░░░░░░░
        ░░░▒▒▒▒▒▓▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░░░░░░░░░░
        ░░░░░▒▒▓▓▓▓▓▓▓▒▒░▒▓▓▒▒▓▓▓▒▒▓▓▓▓▓▒▒▒▒▒░░░░░░░░
        ░░░░░░▒▓▓▓▓▓▓▓▓▒▒░░▒▒▓▓▒▒░░░░░▒▒▒░▒▓▒▒░░░░░░░
        ░░░░░░▒▓▓▓▓▓▓▓▓▓▓▒▒▒░░▒▓▓▓▒▒▒▒░░░░▒▓▓░░░░░░░░
        ░░░░░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓░░░░░░░░
        ░░░░░░█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒░░░░░░░░░



**************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'harmony_smugdoge'}); -%>
</body>
</html>
