<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL PLUTUSDAO FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://plutusdao.io
******************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'arbitrum_plutusdao'}); -%>
</body>
</html> 
