<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
********************* ЁЯСитАНЁЯМ╛ OFFICIAL HARMONYAN FARMING CALCULATOR ЁЯСитАНЁЯМ╛ *********************

                        тЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦС
                        тЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦДтЦДтЦДтЦДтЦДтЦДтЦДтЦДтЦДтЦДтЦДтЦДтЦДтЦДтЦДтЦДтЦДтЦДтЦДтЦДтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦС
                        тЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦДтЦАтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦДтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦАтЦДтЦСтЦСтЦСтЦСтЦСтЦСтЦС
                        тЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦИтЦСтЦСтЦДтЦСтЦСтЦСтЦСтЦДтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦИтЦСтЦСтЦСтЦСтЦСтЦСтЦС
                        тЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦИтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦДтЦИтЦДтЦДтЦСтЦСтЦДтЦСтЦСтЦСтЦИтЦСтЦДтЦДтЦДтЦСтЦСтЦС
                        тЦСтЦДтЦДтЦДтЦДтЦДтЦСтЦСтЦИтЦСтЦСтЦСтЦСтЦСтЦСтЦАтЦСтЦСтЦСтЦСтЦАтЦИтЦСтЦСтЦАтЦДтЦСтЦСтЦСтЦСтЦСтЦИтЦАтЦАтЦСтЦИтЦИтЦСтЦС
                        тЦСтЦИтЦИтЦДтЦАтЦИтЦИтЦДтЦИтЦСтЦСтЦСтЦДтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦИтЦИтЦСтЦСтЦСтЦСтЦАтЦАтЦАтЦАтЦАтЦСтЦСтЦСтЦСтЦИтЦИтЦСтЦС
                        тЦСтЦСтЦАтЦИтЦИтЦДтЦАтЦИтЦИтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦАтЦСтЦИтЦИтЦАтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦАтЦИтЦИтЦС
                        тЦСтЦСтЦСтЦСтЦАтЦИтЦИтЦИтЦИтЦСтЦАтЦСтЦСтЦСтЦСтЦДтЦСтЦСтЦСтЦИтЦИтЦСтЦСтЦСтЦДтЦИтЦСтЦСтЦСтЦСтЦДтЦСтЦДтЦИтЦСтЦСтЦИтЦИтЦС
                        тЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦАтЦИтЦСтЦСтЦСтЦСтЦДтЦСтЦСтЦСтЦСтЦСтЦИтЦИтЦСтЦСтЦСтЦСтЦДтЦСтЦСтЦСтЦДтЦСтЦСтЦДтЦСтЦСтЦСтЦИтЦИтЦС
                        тЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦДтЦИтЦДтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦАтЦДтЦСтЦСтЦАтЦАтЦАтЦАтЦАтЦАтЦАтЦАтЦСтЦСтЦДтЦАтЦСтЦС
                        тЦСтЦСтЦСтЦСтЦСтЦСтЦИтЦАтЦАтЦИтЦИтЦИтЦИтЦИтЦИтЦИтЦИтЦИтЦАтЦАтЦАтЦАтЦИтЦИтЦИтЦИтЦИтЦИтЦИтЦИтЦИтЦИтЦИтЦИтЦАтЦСтЦСтЦСтЦС
                        тЦСтЦСтЦСтЦСтЦСтЦСтЦИтЦИтЦИтЦИтЦАтЦСтЦСтЦИтЦИтЦИтЦАтЦСтЦСтЦСтЦСтЦСтЦСтЦАтЦИтЦИтЦИтЦСтЦСтЦАтЦИтЦИтЦАтЦСтЦСтЦСтЦСтЦСтЦС
                        тЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦСтЦС

                     HarmoNYAN is proudly brought to you by NyanHub

                                - ENTER THE NEKOVERSE -

                              FARM  : <a href="https://harmonyan.one">https://harmonyan.one</a>
                              INFO  :  <a href="https://nyanhub.one">https://nyanhub.one</a>

**************************************************************************************

Please take extra care when depositing here, there are some reports of malpractice.
<a href="https://www.reddit.com/r/harmony_one/comments/qbrwqe/harmonyan_is_a_scam_please_spread_the_word_and/" target="_blank">https://www.reddit.com/r/harmony_one/comments/qbrwqe/harmonyan_is_a_scam_please_spread_the_word_and/</a>

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'harmony_harmonyan'}); -%>
</body>
</html>