<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL SOUP.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://soups.finance
*********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_soup'}); -%>
</body>
</html> 
