<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL KUZO DEFI FARMING CALCULATOR 👨‍🌾 ***************
App  : https://kuzo.xyz
Telegram: https://t.me/kuzodefiapp
*********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'fantom_kuzo'}); -%>
</body>
</html>
