<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL SMXSWAP FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://smxswap.com
****************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'cronos_smx'}); -%>
</body>
</html> 
