<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
************************ BINANCE SMART CHAIN *************************

*************** 👨‍🌾 UNOFFICIAL BDOLLAR CALCULATOR 👨‍🌾 ************
INFO  : <a href="https://bdollar.fi" >https://bdollar.fi</a>
**********************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_bdo'}); -%>
</body>
</html> 
