<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL CHIRP SHIMMERSEA.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://shimmersea.finance
**********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'shimmer_shimmersea'}); -%>
</body>
</html> 
