<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL PENGUINSWAP FARMING CALCULATOR 👨‍🌾 ******************
INFO  : https://penguinswap.eth.link
***********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'penguin'}); -%>
</body>
</html> 
