<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL MADUCKCLUB FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://www.maduck.club
***********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_maduck'}); -%>
</body>
</html> 
