<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL ROCKETMOON FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://rocketmoon.farm
*******************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_rocketmoon'}); -%>
</body>
</html> 
