<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL PANDAEX FARMING CALCULATOR 👨‍🌾 ************
INFO  : https://app.pandaex.org
*************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'okex_pandaswap'}); -%>
</body>
</html>
