<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL BEEFY FINANCE FARMING CALCULATOR 👨‍🌾 *****************
INFO  : https://app.beefy.finance
************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_beefy'}); -%>
</body>
</html> 