<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL LIFT.KITCHEN FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://app.lift.kitchen
*****************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'liftkitchen'}); -%>
</body>
</html>
