<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL KYRIOS.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://kyrios.finance
***********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'fantom_kyrios'}); -%>
</body>
</html> 
