<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL QUICKSWAP FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://quickswap.gamma.xyz
******************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'zkevm_polygon_quickswap'}); -%>
</body>
</html> 
