<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
************************************* FANTOM NETWORK ********************************************************
    
***************   👨‍🌾  UNOFFICIAL ALTERNATES.FINANCE (LAYER 1) FARMING CALCULATOR   👨‍🌾  *********************
INFO  : https://alt1.alternates.finance
*************************************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'fantom_alternates1'}); -%>
</body>
</html> 
