<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL KUSWAP FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://kuswap.io
***************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'kcc_kuswap'}); -%>
</body>
</html> 
