<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** POLYGON NETWORK ***************************************

<a href="https://bullionfinance.xyz" target="_blank" rel="noopener noreferrer">Website</a> -
<a href="https://twitter.com/bullionfinance1" target="_blank" rel="noopener noreferrer">Twitter</a> -
<a href="https://t.me/Bullion_Finance" target="_blank" rel="noopener noreferrer">Telegram</a>


Website Farming Launching Soon: <a href="https://bullionfinance.xyz" target="_blank" rel="noopener noreferrer">https://bullionfinance.xyz</a>

LINKS:
  * <a href="https://quickswap.exchange/#/swap?inputCurrency=ETH&outputCurrency=0xf67330a02c44ED3E7c76950977c1DA3FeC06a859" target="_blank" rel="noopener noreferrer">BUY GOLD</a>
  * <a href="https://quickswap.exchange/#/add/ETH/0xf67330a02c44ED3E7c76950977c1DA3FeC06a859" target="_blank" rel="noopener noreferrer">ADD LIQUIDITY</a>

TOKEN:
  * Symbol: <a href="https://polygonscan.com/token/0xf67330a02c44ED3E7c76950977c1DA3FeC06a859" target="_blank" rel="noopener noreferrer">GOLD</a>
  * No Transfer Fee

FARMING:
  * Masterchef: <a href="https://polygonscan.com/address/0x07D099f8E97Eb456A7aCF08Ab0f0D3Dbf36EC38C#code" target="_blank" rel="noopener noreferrer">0xFd713726a28f45cEBCD2c9088BD2084De836e86F</a>
  * <a href="https://polygonscan.com/block/countdown/15929420"  target="_blank" rel="noopener noreferrer">Farming Starts on Block: 15929420 — Sun Jun 20 2021 03:06:46 GMT-0400 (Eastern Daylight Time)</a>
  * First Harvest Start: <a href="https://polygonscan.com/block/countdown/16015969"  target="_blank" rel="noopener noreferrer">block 16015969</a>
  * Harvest Cooldowns:
      - Native:     4 Hours
      - Non-Native: 8 Hours

DEPOSIT FEES:
  * 1% On Native Farms
  * 1% On Non-Native Farms

NOTES:
  * QUICK has no liquidity pool so token price and market cap will be 0. This does not affect farming rewards!
  * Use 6% slippage when swapping tokens due to transfer fee.


                          *** IMPORTANT ***
*** ATTEMPTING TO HARVEST EARLY WILL MINT GOLD AND STORE IN MASTERCHEF ***
*** NO GOLD IS LOST!!!                                                 ***
*** YOU WILL BE PAID YOUR FULL BALANCE ON NEXT SUCCESSFUL HARVEST      ***

*************************************************************************************

*** If you are being rate limited, please select a different RPC URL from here https://docs.matic.network/docs/develop/network-details/network/ ***

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'matic_bullionfinance'}); -%>
</body>
</html>
