<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** AVALANCHE *********************************
    
*************** 👨‍🌾 UNOFFICIAL SNOWBALL FINANCE FARMING CALCULATOR 👨‍🌾 ***********
INFO  : https://snowball.network/earn/
*********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'avax_snowball'}); -%>
</body>
</html> 
