<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL CELODEX FARMING CALCULATOR 👨‍🌾 *****************
INFO  : https://www.celodex.org
******************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'celo_celodex'}); -%>
</body>
</html>