<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL OpenXSwap FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://app.openxswap.exchange
******************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'optimism_openxswap'}); -%>
</body>
</html> 
