<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL POLY RIVER FARMING CALCULATOR 👨‍🌾 ***************
TG: https://t.me/polyriver
SITE: WIP
**************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'matic_polyriver'}); -%>
</body>
</html>
