<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>
<body text-align="center">
<%- include(`${partials}/header_main`); -%>
<pre>
<b>   Welcome to the Badlands.</b>

  +----------------------------------------- +----------------------+
  |~~~N~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ |       Badlands       |
  |~~W+E~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ +----------------------+
  |~~~S/‾‾‾‾‾‾\~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ |                      |
  |~~~/   $   |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ | . = Mountain         |
  |~~~|  ! .  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ | $ = Loot             |
  |~~~|   ! !  ‾‾‾‾‾‾‾‾‾&‾‾‾‾>~~~~~~~~~~~~~~ | ! = Danger           |
  |~~~|  !    ...        ___/~~~~~~~~~~/‾‾\~ | & = Certain dETH     |
  |~~~|    ....    & .. |~~~~~~~~~~~~~~|  |~ | + = Bandits          |
  |~~~\___              |~~~~~~~~~~~~~~|  |~ |                      |
  |~~~~~~~|             |~~~~~~~~~~~/‾‾ + |~ |                      |
  |~~~~~~~|       !     |~~~~~~~~~/‾       \ |                      |
  |~~~~~~~| &   !        ‾‾‾.‾‾‾‾‾   !  +  | |                      |
  |~~~~~~~|             _______$__  !      / |                      |
  |~~~~~~~\____    !   |~~~~~~~~~~\__   + /~ |                      |
  |~~~~~~~~~~~~\_______/~~~~~~~~~~~~~\___/~~ |                      |
  +----------------------------------------- +----------------------+


  The area is both treacherous and profitable to a degen like you.
  Riddled throughout the canyons are thiefs waiting in the
  shadows. However, you have heard from a fellow outlaw that
  there are various stashes of loot hidden somewhere deep in
  the Badlands. Two, to be exact.

  One, is closer to the "civilized" world. It holds a smaller
  treasure and in order to reach it, the journey is much shorter
  and safer.  

  The other, is much farther out. Surrounded by some of the
  the most degenerate in the Badlands. The loot is much
  greater, and so are the stakes.

  In order to reach either, you will need a party to join you.
  $BANDIT's for hire can be found at the edge of the Badlands.
  They can be hired with various currencies but are notoriously
  slow at getting ready for a trek across the barren land.

  In order to find the first stash of loot, you need to find at
  least 250 $BANDIT to guide you there safely. It holds 0.5 WETH

  The farther stash is a much more treacherous journey 
  and you might lose some guides a long the way. You
  will need at least 450 $BANDIT's to ensure your safe passage.
  It holds 0.25 WBTC.
  
  <b>Good luck stranger.</b>
  
  <a href="https://degeneth.xyz/">Website</a>
  <a href="https://twitter.com/degeneth8">Twitter</a>
  <a href="https://t.co/pbAiQWvjqN">Telegram</a>

  <b>MasterChef: </b><a href="https://optimistic.etherscan.io/address/0xF4FdAcaA85cD04d9fa961f032D2A4cF3A58A5050">0xF4FdAcaA85cD04d9fa961f032D2A4cF3A58A5050</a>
  <br>
  <u><b>Buy/Sell Tokens Links:</b></u>

  <b>$BANDIT: </b><a href="https://zipswap.fi/#/swap?outputCurrency=0xa53E8f867EF3FBA91090F1547A68983c350f6502">ZipSwap</a> (Paired with dETH/WETH LP)
  <b>$dETH: </b><a href="https://zipswap.fi/#/swap?outputCurrency=0x39d36cF934aAE9Fcf4c5112648a016B8A7127B35">ZipSwap</a> (Paired with WETH)
  <b>$WETH: </b><a href="https://zipswap.fi/#/swap?outputCurrency=0x4200000000000000000000000000000000000006">ZipSwap</a> <a href="https://app.velodrome.finance/swap">Velodrome</a> <a href="https://app.uniswap.org/#/swap?outputCurrency=0x4200000000000000000000000000000000000006">Uniswap</a> <a href="https://op.beets.fi/swap">Beethoven X</a>
  <b>$WBTC: </b><a href="https://zipswap.fi/#/swap?outputCurrency=0x68f180fcCe6836688e9084f035309E29Bf0A2095">ZipSwap</a> <a href="https://app.velodrome.finance/swap">Velodrome</a> <a href="https://app.uniswap.org/#/swap?outputCurrency=0x68f180fcCe6836688e9084f035309E29Bf0A2095">Uniswap</a> <a href="https://op.beets.fi/swap">Beethoven X</a>
  
  <u><b>Supply LP Here:</b></u>

  <b>dETH/WETH LP: </b><a href="https://zipswap.fi/#/add/ETH/0x39d36cF934aAE9Fcf4c5112648a016B8A7127B35">ZipSwap</a>
</pre>
<pre class="container">
    <div class="loader--1"></div>
    <div id="log"></div>
<%- include(`${partials}/disclaimer`); -%>
</pre>
<p text-align="center">
<%- include(`${partials}/scripts`, {scriptname: 'optimism_degeneth'}); -%>
</p>
</body>
<pre>
                      _
                   __) \__
                   \/_  , \                               
                    \    )|                               _
                \  _|_ _/\_\                          __/ _|___
               _)\/    _\                            | ' / _.-/
                |/   _|_/\                       ___/_   _/
                 |    \   )                     / ,    _/
                  \   |  /                    _/ (    |
                   \  ' /                  _./__,|   /
                   /  ) )                 (),/   |  /
                  /  / ,                  | /    ) /
                  | /\ |                  \|    / )
                  |/  \|                       |  /
                  /    |           //,,        | /
         //,,     /(    )\         ,7 _/        /(
       ,7 _/    /,/   '-.\_       >_/(,       /_.-
       >_/(,  .--------"-----.  __  \ \  .--------'-----.
     __  \ \  |________|_____|-\/\\/ ,'\ |________|_____|
   -\/\\/ ,'\  _|______\____\    |'_/// \ _|______\____\
        |'_/// \/________\____\         \, /________\____\
           \, |  ____  |    |_________/__|________|____|
           /  | |___ | |    |__________________|  |    |
          / _/|/____/| |    |__________________\  |    |
         (_(  |)_____) |    |__________________(  -    |
           \\ |        |    |          )\|        |    '
            )\|        |    |         /_||        |    |
           /_||        -    |            |        |    |
              |        |    |            |        |    |
              |        |    |            |        |    |
              |        |    |            |        |    |
              |        |    |            |        |    |
              |        |    |            |        |    |
              |        |    |            |        |    |
              '        |    |            |        |    |
              |        |    |            -        |    |                                                                 /)_(\ 
              |        |    |            |        |    |                                                          ______( 0 0 )______
              |        |    |            |        |    |                                                         /_/_/_/\` ' `/\_\_\_\
           ___|        |  __|___         |        -  __'___                                                              )'_'(
          )/__|        | /__/o o\        |        | /___/o o\                                                       ____.""_"".____
         |' __|        | )__ \.\|        |        | )___ \.\|                                                      |___|___|___|___|
         |_/  |        -    \_\_|        |        |    |\_\_|                                                        |___|___|___| 
              |-       |    |            |        |    |                        Damn! why am I always                  |-      |
              |        | Finally!    .---.        |    |                 the last one to hear about these things...    |       |
              |        | d.ETH  \_  ,o' _/        | -  '                                       /                      _|_______|_
              |        |    '       )_(('|        |    |                                   ___                       |___|___|___|                              Ha! They didn't know
              |        |    |          \\,_       |    |                                  /   \                        |'   | ||                                it was d.ETH season.    
              |        -    |           //_ \     |    |                                  )'__/                        |       |                        .----.     _/
              |-       |    |      ,___// \ |     |  - |                                  \(\\                         |       |                        \_,(o,o
              |        |    |    ///'  ` _)/      |    |                                    _\\__                      |       |                         .)\_C
              |        |    |           O_:O)     |    |                                   /,_ \--\                    |     - |                        _//_  __
              |    -   |    |          '/' /      |    |                              ____// \ |   \                   |       |                       /, ')\ )'\\
              |        |    |          / |/   -   |    |                             /,-' `  _)/   |\_                 |       |                      |/),/ \/
              |  -     |    |         c  c        |    |                             ``     ,o_:)  ```                 |       |                         | |(
              |        |  - |          \ |)       |    |                        .          /    \        .             |       |                       \(/ '-\
              |        |    |          | '|     - |    |                                  /      \                     | |     |                            \\\
             _|      - |   _|_______...,:o,:o_____|____|___                  .    (      c        c     )    .         |       |                             )))
          __/_| -      |__/__\_____________________________\___               (    )      \      /     (    )          |       |                            ///
        _/____\________/________\______________________________\___          ( )  '        |     |      '  ( )        _|_______|_                          (((_       
  _ ___/__________________b'ger____\_______________________________\______._ _#, .    ...,:o    o:,..    . ,#_ ,, ,,,|___b'ger___|,,,   .., , , ,b'ger  - /o__\\--
                                                                                     _.. .                                    .  ..  _
            <pre>
</html>

Your Adventure awaits...


