<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL BODH.FINANCE CALCULATOR 👨‍🌾 ***************
INFO  : https://app.bodh.finance
*************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'boba_bodh'}); -%>
</body>
</html> 
