<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL EMPTY SET GOLD CALCULATOR 👨‍🌾 ***************
INFO  : https://emptyset.gold
***************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'esg'}); -%>
</body>
</html> 
