<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL VENOMSWAP FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://www.venomswap.net
*************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_venomswap'}); -%>
</body>
</html>
