<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** AVALANCHE ********************************************
    
*************** 👨‍🌾 UNOFFICIAL FARMERSONLY.FINANCE FARMING CALCULATOR 👨‍🌾 ***********
INFO  : https://farmersonly.finance
************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'avax_corn'}); -%>
</body>
</html> 
