<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL GMDPROTOCOL FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://gmdprotocol.com
********************************************************************************

Unstaking burns all of your RP.
Note: There is a 0.1% deposit fee

Please visit the original site for more information.

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'arbitrum_gmd'}); -%>
</body>
</html> 
