<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL WILD.CREDIT FARMING CALCULATOR 👨‍🌾 *******************
INFO  : https://wild.credit
************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'wild'}); -%>
</body>
</html> 
