<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL SWARM NETWORK FARMING CALCULATOR 👨‍🌾 *********
INFO  : https://stake.myswarm.app
****************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'swarm'}); -%>
</body>
</html> 
