<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** AVALANCHE **************************************
    
*************** 👨‍🌾 UNOFFICIAL BEEFY.FINANCE FARMING CALCULATOR 👨‍🌾 ***********
INFO  : https://app.beefy.finance/#/avax
******************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'avax_beefy'}); -%>
</body>
</html> 
