<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL METACOSMIX FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://www.metacosmix.io OLD (https://pokemoon.io)
*******************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_metacosmix'}); -%>
</body>
</html> 
