<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** FANTOM NETWORK *************************************
    
***************   👨‍🌾  UNOFFICIAL SPADE FINANCE FARMING CALCULATOR   👨‍🌾  *********************


INFO  : https://spadefinance.farm/


***********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'fantom_spade'}); -%>
</body>
</html> 
