<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL SADDLE EXCHANGE FARMING CALCULATOR 👨‍🌾 *********************
INFO  : https://saddle.exchange
******************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'saddle'}); -%>
</body>
</html> 
