<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL COWAII FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://cowaii.cash
***************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'doge_cowaii'}); -%>
</body>
</html> 
