<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL BONDAPPETIT FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://bondappetit.io
********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_bondappetit'}); -%>
</body>
</html> 
