<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL BLIZZARD FINANCE FARMING CALCULATOR 👨‍🌾 *****************
INFO  : https://blizzard.money
***************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_blizzard'}); -%>
</body>
</html> 