<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 OFFICIAL SAHARA FARMING CALCULATOR 👨‍🌾 ***************


                          .:-=+******+=-:.                      
                     .-*#@@@@@+==@%==+@@@@@%*=.                 
                  :+%@#+-. *@@-  *=  :@@# .-+#@%+:              
                =%@*-       %@%      %@@.      -*@%+.           
              +@@=          .=:      :=:          =%@*.         
            =@@=  :-+**=:            .     .=**+=:  -%@=        
          .#@%=*%@@@#:        *%    %*        .*@@@%*=#@#.      
         .%@@@@@@@@: .=*%%%%%@@@    %@@%%%%%#=. :@@@@@@@@@:     
        .%@@@@@@@@- +@@@@@@@@@*.     +@@@@@@@@@+ :@@@@@@@@@.    
        #@#+=::.   *@#*++=--.          .--==+*#@#   ..:=+#@%    
       =@#.:-=+**#%=            -**-            =%##*+=-:.#@+   
       %@@@@@@@@@@@           +@@%%@@*.          @@@@@@@@@@@@   
      .@@@@@@@@@@@@:     ::   ::.  .::   ::     .@@@@@@@@@@@@:  
      -@%--::::...:%. :+=:+%   -#++%=   #+:=+: .#:...::::--%@=  
      -@@++++++++++#@@+    @  *@*++*@#  @    =@@%++++++++++%@=  
      :@@@@@@@@@@@@@@@=    % :-      :- @    -@@@@@@@@@@@@@@@:  
       %@@@@@@@@@@@@@@@.   %  .#@@@@%:  %    %@@@@@@@@@@@@@@@   
       =@#      ...:::%%   %   -@@@@=   %   #%-::...      *@+   
        #@%%#**++=--:.:%%. *.    :-     # .#@:.:--=++**#%%@%    
        .@@@@@@@@@@@@@@@@@**#.:*@@@@*:.#*+@@@@@@@@@@@@@@@@@.    
         .@@@@@@@@@@@@@@@@@@%#@@@@@@@@#%@@@@@@@@@@@@@@@@@@:     
          .#@@@@@@@+*#%@@@=   *@@@@@@#   =@@@%#*+%@@@@@@%.      
            =@@@@@@      .    -@@@@@@=    .      @@@@@@+        
             .*@@@@@@@%#*      @@@@@@      *#%@@@@@@@*.         
               .+@@@@@@@@      *@@@@#      %@@@@@@@+.           
                  :*@@@@%      -@@@@=      #@@@@*-              
                     .=*%@@#*+==@@@@+=+*#@@%*=:                 
                          .-=++**##**++=-.                      


            INFO    : https://sahara.exchange
            TWITTER : https://twitter.com/saharadex
            DISCORD : https://discord.gg/2UtJTaeetZ
            TELEGRAM: https://t.me/saharaexchangerose
  

*************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'emerald_sahara'}); -%>
</body>
</html>
