<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL 0XDAO FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://oxdao.fi/
**************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'fantom_0xdao'}); -%>
</body>
</html>
