<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** AVALANCHE ****************************************
    
*************** 👨‍🌾 UNOFFICIAL FARMERSONLY TMT FARMING CALCULATOR 👨‍🌾 ***********
INFO  : https://tmt.farmersonly.farm
********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'avax_tmt'}); -%>
</body>
</html> 
