<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL CYCLONE FARMING CALCULATOR 👨‍🌾 ************
INFO  : https://cyclone.xyz/iotex
*************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'iotex_cyclone'}); -%>
</body>
</html>
