
<div id="quick" class="modal">
    <form class="modal-content" id="quick-form">
        <input autocomplete="off" type="text" id="quick-input" class="modal-input"></input>
        <ul id="quick-dropdown"></ul>
    </form>
</div>
