<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL MIDASGOLD FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://midasgold.network
******************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_midasgold'}); -%>
</body>
</html> 
