<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL UNIC.LY FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://www.app.unic.ly/#/farm
****************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'unicly'}); -%>
</body>
</html> 
