<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** LIFE FINANCE FARMING CALCULATOR ***************
/**
 *
 *  
 *  
 * ██      ██ ███████ ██████      ███████ ██ ███    ██  █████  ███    ██  ██████ ███████ 
 * ██      ██ ██           ██     ██      ██ ████   ██ ██   ██ ████   ██ ██      ██      
 * ██      ██ █████    █████      █████   ██ ██ ██  ██ ███████ ██ ██  ██ ██      █████   
 * ██      ██ ██           ██     ██      ██ ██  ██ ██ ██   ██ ██  ██ ██ ██      ██      
 * ███████ ██ ██      ██████      ██      ██ ██   ████ ██   ██ ██   ████  ██████ ███████                                                                           
 *
 *  
 **                                                          
*/   

Website  	: https://lif3.exchange
Telegram	: https://t.me/fatfiredao
Twitter		: https://twitter.com/defifatfire
Discord     : https://discord.gg/Jve2pUDukU

*********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'fantom_life'}); -%>
</body>
</html>
