<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>
<body>
<pre class="container">
---Pool Provider---     --------LP--------          --Reward Tokens--   --INFO--
     Pancake              <a href="pancake"       >Various</a>                    CAKE                https://pancakeswap.finance
     bDollar              <a href="bdo/"          >Various</a>                    BDO/sBDO/bBDO       https://bdollar.fi
     Beluga               <a href="beluga/"       >Various</a>                    BELUGA              https://belugaprotocol.org
     BatDollar            <a href="btd/"          >Various</a>                    BTD/BTS/BTB         https://batdollar.fi
     Nya Cash             <a href="nya/"          >Various</a>                    NYAS/NYAC           https://nya.cash
     YieldScienceLabs     <a href="ysl/"          >Various</a>                    Various             https://yieldlab.science/


*** Disclaimer ***

I am in no way affiliated with the above projects, nor do I endorse them. Please do your own research before investing.


-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
| <a href="https://twitter.com/vfat12" target="_blank">Twitter</a> - <a href="https://github.com/vfat-tools/vfat-tools" target="_blank">Github</a> - <a href="https://gitcoin.co/grants/1809/vfattools-yield-farming-calculators" target="_blank">Gitcoin</a> |
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
</pre>
<%- include(`${partials}/scripts`, {scriptname: 'homepage'}); -%>
</body>
</html>
