<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** POLYGON NETWORK ***************************************

oooooooooo.                                          
`888'   `Y8b                                         
 888      888  .oooo.   oooo oooo    ooo ooo. .oo.   
 888      888 `P  )88b   `88. `88.  .8'  `888P"Y88b  
 888      888  .oP"888    `88..]88..8'    888   888  
 888     d88' d8(  888     `888'`888'     888   888  
o888bood8P'   `Y888""8o     `8'  `8'     o888o o888o 
                                                     
                                                     
By                                                    

__   __           __  ___  __   __  
|__) /  \ |    \ /  / |__  |__) /  \ 
|    \__/ |___  |  /_ |___ |  \ \__/ 

vfat + contracts = PolyZero

zero Telegram, zero Twitter, zero Website


Three tokens will be rewarded for every staking
  * First DARK
  * then SPARK after 24 hours
  * then GLOW after 24 hours


LINKS:
  * <a href="https://quickswap.exchange/#/swap?outputCurrency=0x82d17e1CFEb211a2A7CF72003dbA7C89966a0F9E" target="_blank" rel="noopener noreferrer">BUY DARK</a>
  * <a href="https://quickswap.exchange/#/add/0x0d500b1d8e8ef31e21c99d1db9a6444d3adf1270/0x82d17e1CFEb211a2A7CF72003dbA7C89966a0F9E" target="_blank" rel="noopener noreferrer">ADD LIQUIDITY</a>
  * <a href="https://polygon.poocoin.app/tokens/0x82d17e1cfeb211a2a7cf72003dba7c89966a0f9e" target="_blank" rel="noopener noreferrer">CHART</a>


  * <a href="https://quickswap.exchange/#/swap?outputCurrency=0xc3666Df84Ab0B07bfE6D1CCC4539b833943B1e95" target="_blank" rel="noopener noreferrer">BUY SPARK</a>
  * <a href="https://quickswap.exchange/#/add/0x0d500b1d8e8ef31e21c99d1db9a6444d3adf1270/0xc3666Df84Ab0B07bfE6D1CCC4539b833943B1e95" target="_blank" rel="noopener noreferrer">ADD LIQUIDITY</a>
  * <a href="https://polygon.poocoin.app/tokens/0xc3666Df84Ab0B07bfE6D1CCC4539b833943B1e95" target="_blank" rel="noopener noreferrer">CHART</a>

  * <a href="https://quickswap.exchange/#/swap?outputCurrency=0x22e16E5D9D46f3423101a3470a042822B04A2335" target="_blank" rel="noopener noreferrer">BUY GLOW</a>
  * <a href="https://quickswap.exchange/#/add/0x0d500b1d8e8ef31e21c99d1db9a6444d3adf1270/0x22e16E5D9D46f3423101a3470a042822B04A2335" target="_blank" rel="noopener noreferrer">ADD LIQUIDITY</a>
  * <a href="https://polygon.poocoin.app/tokens/0x22e16E5D9D46f3423101a3470a042822B04A2335" target="_blank" rel="noopener noreferrer">CHART</a>

TOKEN:
  * Symbol: <a href="https://polygonscan.com/address/0x82d17e1CFEb211a2A7CF72003dbA7C89966a0F9E#code" target="_blank" rel="noopener noreferrer">DARK</a>
  * Symbol: <a href="https://polygonscan.com/address/0xc3666Df84Ab0B07bfE6D1CCC4539b833943B1e95#code" target="_blank" rel="noopener noreferrer">SPARK</a>
  * Symbol: <a href="https://polygonscan.com/address/0x22e16E5D9D46f3423101a3470a042822B04A2335#code" target="_blank" rel="noopener noreferrer">GLOW</a>
  * 0% Transfer Fee
  * 2000 Tokens Pre-mined: 2000 to LP 
  * Liquidity Locked DARK: <a href="https://polygonscan.com/address/0xF99cFa32B5675633D06AB12d843FCe0c4d7B1822" target="_blank" rel="noopener noreferrer">0xF99cFa32B5675633D06AB12d843FCe0c4d7B1822</a>
  * Liquidity Locked SPARK: <a href="https://polygonscan.com/address/0x8Ff2e2A197Af481DB1312bbA382ecf42F8D36b60" target="_blank" rel="noopener noreferrer">0x8Ff2e2A197Af481DB1312bbA382ecf42F8D36b60</a>
  * Liquidity Locked GLOW: <a href="https://polygonscan.com/address/0x4b0f3bade64f8381eD4f465e29B2e84DC6632546" target="_blank" rel="noopener noreferrer">0x4b0f3bade64f8381eD4f465e29B2e84DC6632546</a>
  * Timelock - 24 hrs - https://polygonscan.com/address/0x2C8645D5DCA36D81b81369B74e51aFd5B47584B7

FARMING:
  * Masterchef: <a href="https://polygonscan.com/address/0x7D5a4a79E371F95aa8053e5602491685a29329DB#code" target="_blank" rel="noopener noreferrer">0x7D5a4a79E371F95aa8053e5602491685a29329DB</a>

  * Purchase DARK Starting:             Fri Aug 13 2021 - 4 PM UTC
  * Farming Starts on Block for DARK:   Sat Aug 14 2021 - https://polygonscan.com/block/countdown/17967000

  * Purchase SPARK Starting:            Sat Aug 14 2021 - 4 PM UTC
  * Farming Starts on Block for SPARK:  Sun Aug 15 2021 - https://polygonscan.com/block/countdown/18001000
 
  * Purchase GLOW Starting:             Sun Aug 15 2021 - 4 PM UTC
  * Farming Starts on Block for GLOW:   Mon Aug 16 2021 - https://polygonscan.com/block/countdown/18036000
 

  * Harvest Cooldowns:
      - Native:     3 Hours
      - Non-Native: 4 Hours

DEPOSIT FEES:
  * 0% On Native Farms
  * 3% On Non-Native Farms
    * 1% for Buyback and Burns


*************************************************************************************

*** If you are being rate limited, please select a different RPC URL from here https://docs.matic.network/docs/develop/network-details/network/ ***

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'matic_polyzerodawn'}); -%>
</body>
</html>
