<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL BELT FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://beta.belt.fi
*********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_belt'}); -%>
</body>
</html> 
