<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

  <body>
    <%- include(`${partials}/header_main`); -%>
      <pre id="log">
*************** 👨‍🌾 UNOFFICIAL BUFFALOSWAP.FINANCE FARMING CALCULATOR 👨‍🌾 *****************
INFO  : https://www.buffaloswap.org
**************************************************************************************

</pre>
      <div class="loader--1"></div>
      <%- include(`${partials}/scripts`, {scriptname: 'bsc_buffalo' }); -%>
  </body>

</html>