<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL FTM GURU FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://ftm.guru
PLOT : 1
ELITENESS : User must hold 0.001337 ELITE
DEPOSIT FEE : 1%
*****************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'fantom_guru_lite1'}); -%>
</body>
</html>
