<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL FISHSWAP FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://fishswap.app
*****************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_fish'}); -%>
</body>
</html> 
