<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*****************************  METIS  *****************************

*************** 👨‍🌾 UNOFFICIAL WOWswap CALCULATOR 👨‍🌾 ***************
INFO  : https://wowswap.io
*******************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'metis_wowswap'}); -%>
</body>
</html>
