<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL CASHCOWSWAP FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://cashcowswap.org
********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_cashcow'}); -%>
</body>
</html> 
