<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL FLEROVIUM.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://flerovium.finance
**************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'matic_flerovium'}); -%>
</body>
</html> 
