<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL DIAMONDHAND.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://app.diamondhand.fi
****************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_diamond'}); -%>
</body>
</html> 
