<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** AVALANCHE *********************************
    
*************** 👨‍🌾 UNOFFICIAL BERRYFACTORY - TRIFLE FARMS FARMING CALCULATOR 👨‍🌾 ***********
INFO  : https://avaxtrifleberry.world/
************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'avax_triflefarms'}); -%>
</body>
</html> 
