<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
****************************** ASTAR NETWORK ************************************

*************** 👨‍🌾 UNOFFICIAL PANDORASWAP FARMING CALCULATOR 👨‍🌾 ****************
INFO  : https://pandoraswapxyz.org
*********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'astar_pandora'}); -%>
</body>
</html> 
