<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL KERBEROS SET DOLLAR CALCULATOR 👨‍🌾 ***************
INFO  : https://kerberosset.finance
********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'ksd'}); -%>
</body>
</html> 
