<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL DOGLANDS SWAP FARMING CALCULATOR 👨‍🌾 ***************
                ,#(((* *.                                           
                *(     ../((/                           .(((,.*      
                *(..,*,.....,/.   *.               ,((,.    */*      
                *(*,,/(((,....,/*  ,,         ,((*,..  .,**.*(/      
                *(*,.*(((((/*/(/***,,****,.,*,,**,.,*((((/ ./#/      
                *%#,.,*((****,........,*//**,.....,/((((*..(%%(      
                ,#,..,**,..............*(/*,.......,*/*.,#*         
                ,#,,//.........    ....,//.     .....*/(( ,.        
                /(*....  ./&@@@*...........(@@@#*  .,//**.        
                ./*,....,*(@@*./&#/**.......,, *%%%&*,..,(.,,       
                */,.... ..........  ...,%%##&&/..  ...... ...*(/*     
                /,.                    *@@@@@@@@(             .*/**.   
                #*.           ,/(,      .#&@@@%*    ..         ,((.    
                .*  /#*.          ,,.      ..,**,..  .,,       (%/  ,.   
                **.,&(*,         .,*/*/((#%%#((***..     ./#     **.   
                ., /%(**,.          ..             ...%*   ,****     
                *%(**.              ....         ,&.   **.        
                %#/**,.        ...        .,*..  ,%. .**          
                #/****,..        ....,***,..    .,*/,  *          
                ,#**,.........        ....      ..,***/*   ,,       
                *(*,.....                              .*/     *     
                (#/.......                          .,*,..  /,   ,.   
                *#(,........        .,,.  ,/((**/((((*.    ..  ,((. .* 
                ((,.........        .,**/*.............*/(/*,.    **  
                .* ((**,.,,..........      ..,**,................,*,...*(
                ((********,...................,//**,................,#
                **((*******//,...............,****(#/****,.........,(% 
                ,%******,,*/****.....,*******/(((#%#**********(%*  *
                %/*****,,**//***********(#%%#((((((#(/**/#%#  ,***
                ,.   ((****,.,****((#%%%%(/**,..,*,,****/(%&.  .&/*,  
                .,  (#/****,...,******..............,**(/   ,**      
                ,%%%/,....,*#%%/   .**  /#******,...                   ...((  ,*,       
                (/**,...........,/%%.   *./#****,..                        .(( **.        
                ,#***,...............,/#*.*  /#**,.....                       .(&%*          
                /(,*,.................,*/#/ *./#**,.....                        //            
                (/,*,...............******(#*  *(***,.....                       //.#.         
                %/. ............*/(((%* .%%(/# /#/****,....                      .//            
                %*  ..........,*//*(&,  .%%%/  /(*****,....                      ,(%%%.         
                (.  ..........,****(#. .**.   #/*****,....                       (%%(           
                (.   ...........****(#*.**.*#((*,........                      ..(%/            
                (.   .....................,**/*,.........                      ,%/(%(           
                /,  .*,..................,***,.......       ........         .*%%,             
                ** ..,**,............,**/#(........    .....,**,*****,..   .,/%%,             
                *  ./  ..,*//******/*/(((#%#/.......   ./%&%/,,*** (#((*,..,*/#%*#(,            
                ,..* #* ....,*((/**,../% #(,.....   .*&((#&%. .,  (#**,.,**/%&&&.              
                .*    .&&/....(&&&,    ((,.... ..#(..       ., %(*******(%*.,                
                .****(#    ..   .%&(** (#/**,..*%,.,           %(***/(((&. .,                
                ***** ,****.   #(((((,,/% ,*,           %&#***/(((#,.,                
                #/****/#(               * (&%(*****/#/                 
                ,#******#/  *.            **.   #(*****/(                
                *#/*****%, .*               **,   (#*..,,,*/#%(           
                *(,*. .*,#/                  ,*,   *&&&&&&&&&&#           
                /&&&&&&&&&/                     **#&&&&&&&&&&&#  


INFO     : https://swap.doglands.dog/
TWITTER  : https://twitter.com/DoglandsDC
TELEGRAM : https://t.me/doglandsdc
LINKTREE : https://linktr.ee/doglands
************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'doge_doglandsswap'}); -%>
</body>
</html> 
