<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************UNOFFICIAL WANTANMEE.FINANCE FARMING CALCULATOR ***************
INFO  : https://wantanmee.finance
********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_wantanmee'}); -%>
</body>
</html> 
