<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL HOLYGRAIL FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://holygrail.one/
************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'harmony_holygrail'}); -%>
</body>
</html>
