footer {
  background-color: #eee;
  text-align: center;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.copyright {
  margin: 20px 0;
  font-size: 14px;
  color: #555;
  line-height: 1.7;

  a {
    color: #555;
  }
}
