<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL CRO.MESO.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://cro.meso.finance
*************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'cronos_meso'}); -%>
</body>
</html>
