<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL VELODROME FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://app.velodrome.finance
******************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'optimism_velodrome'}); -%>
</body>
</html> 
