<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 CLP-BREAKER TOOL 👨‍🌾 ********************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'clp_breaker'}); -%>
</body>
</html> 
