<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL ENTERDAO FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://dao.enterdao.xyz
*****************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'enterdao'}); -%>
</body>
</html> 
