<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL FISHSTIX.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : http://fishstix.finance
***********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_fishstix'}); -%>
</body>
</html> 
