<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL FIRE STAKING CALCULATOR 👨‍🌾 ***************
INFO  : https://twitter.com/promethios_fire
*************************************************************************

-----------------------------------------------
 __   __   __         ___ ___         __   __  
|__) |__) /  \  |\/| |__   |  |__| | /  \ /__` 
|    |  \ \__/  |  | |___  |  |  | | \__/ .__/ 
                                               
-----------------------------------------------

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'arbitrum_fire'}); -%>
</body>
</html> 
