<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL WOODCHAIN FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://bsc.woodchain.io
****************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_woodchain'}); -%>
</body>
</html>
