<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL BETACRONO FARM FARMING CALCULATOR 👨‍🌾 ***************

INFO  : https://beta.metacrono.finance/

********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'cronos_betacrono'}); -%>
</body>
</html> 
