<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** AVALANCHE *********************************
    
*************** 👨‍🌾 UNOFFICIAL AVME FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://avme.io
*************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'avax_avme'}); -%>
</body>
</html> 
