<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** AVALANCHE ******************************************
    
*************** 🏴‍☠️👨‍🍳 UNOFFICIAL LUFFYSWAP.FINANCE FARMING CALCULATOR 👨‍🍳🏴‍☠️ ***********
INFO  : https://luffyswap.finance

     ,~"""~.
  ,-/       \-.
.' '`._____.'` `. 
`-._         _,-'
    `--...--' 
**********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'avax_luffyswap'}); -%>
</body>
</html> 
