<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** POLYGON NETWORK ***************************************



██████╗░░█████╗░██╗░░░░░██╗░░░██╗███╗░░░███╗███████╗███╗░░░███╗███████╗░░██╗░░░██╗██████╗░
██╔══██╗██╔══██╗██║░░░░░╚██╗░██╔╝████╗░████║██╔════╝████╗░████║██╔════╝░░██║░░░██║╚════██╗
██████╔╝██║░░██║██║░░░░░░╚████╔╝░██╔████╔██║█████╗░░██╔████╔██║█████╗░░░░╚██╗░██╔╝░░███╔═╝
██╔═══╝░██║░░██║██║░░░░░░░╚██╔╝░░██║╚██╔╝██║██╔══╝░░██║╚██╔╝██║██╔══╝░░░░░╚████╔╝░██╔══╝░░
██║░░░░░╚█████╔╝███████╗░░░██║░░░██║░╚═╝░██║███████╗██║░╚═╝░██║███████╗░░░░╚██╔╝░░███████╗
╚═╝░░░░░░╚════╝░╚══════╝░░░╚═╝░░░╚═╝░░░░░╚═╝╚══════╝╚═╝░░░░░╚═╝╚══════╝░░░░░╚═╝░░░╚══════╝

                    █░█ █▀▀ ▄▀█ ▀█▀   █▀█ █▄░█ █░░ █▄█
                    ▀▄▀ █▀░ █▀█ ░█░   █▄█ █░▀█ █▄▄ ░█░

                            █▄█ █ █▀▀ █░░ █▀▄   █▀▀ ▄▀█ █▀█ █▀▄▀█
                            ░█░ █ ██▄ █▄▄ █▄▀   █▀░ █▀█ █▀▄ █░▀░█



                    <a href="https://polyme.me" target="_blank" rel="noopener noreferrer">Website</a> - <a href="https://twitter.com/polymemefi" target="_blank" rel="noopener noreferrer">Twitter</a> - <a href="https://t.me/joinchat/wdVk26oYjyc4ODJh" target="_blank" rel="noopener noreferrer">Telegram</a> - <a href="https://linktr.ee/polymeme" target="_blank" rel="noopener noreferrer">Linktree</a>


                Website Farming Launching Soon: <a href="https://polyme.me" target="_blank" rel="noopener noreferrer">https://polyme.me</a>


This is the new interface for our V2 contract. <a href="https://rugdoc.io/project/polymeme/" target="_blank" rel="noopener noreferrer">V1 has stopped emissions.</a> See links below on how to convert v1 to v2.


LINKS:
  * <a href="https://quickswap.exchange/#/swap?inputCurrency=0xf2fd98bda7065fba2733e91045240820bacc7e20" target="_blank" rel="noopener noreferrer">BUY MEME V2</a>
  * <a href="https://quickswap.exchange/#/add/0x0d500b1d8e8ef31e21c99d1db9a6444d3adf1270/0xf2fd98bda7065fba2733e91045240820bacc7e20" target="_blank" rel="noopener noreferrer">ADD LIQUIDITY</a>
  * <a href="https://rugdoc.io/project/polymeme/" target="_blank" rel="noopener noreferrer">RUGDOC REVIEW</a>

V1 MIGRATION INFO:
  * <a href="https://polyme.me/#/migrate" target="_blank" rel="noopener noreferrer">V1 WITHDRAWAL AND CONVERSION TOOL</a>
  * <a href="https://docs.google.com/document/u/9/d/e/2PACX-1vSvmGWN9AzMqHhqNczXe3jzqMethN0I-J5YxkOfSXCUA45T4hchiv0bUw0W-0q284LN3n4gBqWvvCkL/pub" target="_blank" rel="noopener noreferrer">LEGACY GUIDE: Withdrawing from v1 pool, quickswap, and converting tokens to v2.</a>

TOKEN:
  * Symbol: <a href="https://polygonscan.com/token/0xf2fd98bda7065fba2733e91045240820bacc7e20" target="_blank" rel="noopener noreferrer">MEME</a> (v2)
  * Anti-whale  (0.1% Max total supply transfer amount)
  * 5% Transfer Fee - 2% Burned, 3% added to liquidity
  * 500 Tokens Pre-mined: 400 to LP & 100 For Promotions and Costs during v1, and v2 supply is entirely bootstrapped from current MEME holders converting to v2.
  * V1 Liquidity Locked (v2 coming soon): <a href="https://polygonscan.com/address/0xB6b9f14A318063BA44D5f21D34fEF0E1016ECA8c#code" target="_blank" rel="noopener noreferrer">0xB6b9f14A318063BA44D5f21D34fEF0E1016ECA8c</a>

FARMING:
  * Masterchef: <a href="https://polygonscan.com/address/0xFd713726a28f45cEBCD2c9088BD2084De836e86F#code" target="_blank" rel="noopener noreferrer">0xFd713726a28f45cEBCD2c9088BD2084De836e86F</a>
  * <a href="https://polygonscan.com/block/countdown/15929420"  target="_blank" rel="noopener noreferrer">Farming Starts on Block: 15929420 — Sun Jun 20 2021 03:06:46 GMT-0400 (Eastern Daylight Time)</a>
  * First Harvest Start: <a href="https://polygonscan.com/block/countdown/16015969"  target="_blank" rel="noopener noreferrer">block 16015969</a>
  * Harvest Cooldowns:
      - Native:     4 Hours
      - Non-Native: 8 Hours

DEPOSIT FEES:
  * 0% On Native Farms
  * 2% On Non-Native Farms *** ONLY 1% until june 25th 2021 12pm EST ***

NOTES:
  * dQUICK has no liquidity pool so token price and market cap will be 0. This does not affect farming rewards!
  * Use 6% slippage when swapping tokens due to transfer fee.


                          *** IMPORTANT ***
*** ATTEMPTING TO HARVEST EARLY WILL MINT MEME AND STORE IN MASTERCHEF ***
*** NO MEME IS LOST!!!                                                 ***
*** YOU WILL BE PAID YOUR FULL BALANCE ON NEXT SUCCESSFUL HARVEST      ***

*************************************************************************************

*** If you are being rate limited, please select a different RPC URL from here https://docs.matic.network/docs/develop/network-details/network/ ***

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'matic_polymeme_v2'}); -%>
</body>
</html>
