<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** AVALANCHE *********************************************
    
*************** 👨‍🌾 UNOFFICIAL FROZENWALRUS.FINANCE FARMING CALCULATOR 👨‍🌾 ***********
INFO  : https://frozenwalrus.finance
*************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'avax_frozenwalrus'}); -%>
</body>
</html> 
