<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL POLYTOPIA WONSTER FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://wonster.polytopia.farm
**************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'matic_wonster'}); -%>
</body>
</html>
