<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL DARK KNIGHTSWAP.FINANCIAL FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://dark.knightswap.financial
**********************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'fantom_knightswap'}); -%>
</body>
</html>
