<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL NEXTGEN FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://app.next-gen.finance
************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'fuse_nextgen'}); -%>
</body>
</html>
