<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL ZAPPY.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://zappy.finance/
****************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'telos_zappy'}); -%>
</body>
</html> 
