<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL SMOOTHY.FINANCE FARMING CALCULATOR 👨‍🌾 ******************
INFO  : https://smoothy.finance
***************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'smoothy'}); -%>
</body>
</html> 
