<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL TOAD.FARM FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://toad.farm
**********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_toad'}); -%>
</body>
</html> 
