<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL BSC-OBERON.GALAXYFINANCE.ONE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://bsc-oberon.galaxyfinance.one/
************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_galaxy_oberon'}); -%>
</body>
</html>
