<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL KIYOMI.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://kiyomi.finance
***********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_kiyomi'}); -%>
</body>
</html> 
