<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL WAGMIDAO FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://app.wagmidao.io
*****************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'harmony_wagmidao'}); -%>
</body>
</html> 
