<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** HUOBI ECO CHAIN *******************************
    
*************** 👨‍🌾 UNOFFICIAL COMPLUS FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://heco.complus.exchange/
*****************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'heco_complus'}); -%>
</body>
</html> 
