<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">

***************************** POLYGON NETWORK ***************************************
    
*************** 👨‍🌾 UNOFFICIAL HERMES FARMING CALCULATOR 👨‍🌾 *************************

                    WEBSITE  : https://hermesdefi.io

APOLLO is HermesDefi L2 token, which brings to the table many new features and innovative products. 
Among these, there is a revolutionary farming system that offers rewards with quadruple APRs with only 1 deposit.

In addition, APOLLO will provide HermesDefi's line of NFTs with farming benefits, 
so their holders will be able to earn more rewards, and the platform will host its own NFT Marketplace as well.

APOLLO will set the foundations for HermesDeFi's 3rd and final Layer.3


                   WEBSITE  : https://hermesdefi.io
 
Our docs: https://hermes-defi.gitbook.io/apollo/

************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'matic_hermesl2'}); -%>
</body>
</html> 
