<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">

***************   👨‍🌾  UNOFFICIAL 2OMB.FINANCE FARMING CALCULATOR   👨‍🌾  *********************
INFO  : https://2omb.finance
*********************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'fantom_2omb'}); -%>
</body>
</html> 
