<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL VARIABLE TIME DOLLAR CALCULATOR 👨‍🌾 ***************
INFO  : https://vtd.finance/app/
*********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'vtd'}); -%>
</body>
</html> 
