<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 🌌 UNOFFICIAL GALAXYFARMS.ONE FARMING CALCULATOR 🌌 ***************

INFO  : https://galaxyfarms.one/

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'harmony_galaxyfarms'}); -%>
</body>
</html>
