<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL BLAZEDEFI.FINANCE FARMING CALCULATOR 👨‍🌾 *****************
INFO  : https://blazedefi.finance
****************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_blaze'}); -%>
</body>
</html> 