<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL BASISCOIN FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://basiscoin.finance
******************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'basiscoin'}); -%>
</body>
</html> 
