<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL PLATINUM FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://platinumfi.app
*************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'fantom_platinumfi'}); -%>
</body>
</html> 
