<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL UZUMAKI.NARUTOFINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://uzumaki.narutofinance.com
******************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_naruto_uzumaki'}); -%>
</body>
</html> 
