<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL DON-KEY.FINANCE FARMING CALCULATOR 👨‍🌾 *************
INFO  : https://don-key.finance
**********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'donkey'}); -%>
</body>
</html> 
