<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL DOGEPUP FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://dogepup.dog
************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'doge_dogepup'}); -%>
</body>
</html> 
