<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL DECENTRALIZE CASH CALCULATOR 👨‍🌾 ***************
INFO  : https://decentralize.cash
******************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'dcc'}); -%>
</body>
</html> 
