<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL SMOKEHOUSE FINANCE FARMING CALCULATOR 👨‍🌾 *****************
INFO  : https://thesmokehouse.finance
****************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_smokehouse'}); -%>
</body>
</html>
