<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL MOONHARVEST FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://moonharvest.net
****************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_moonharvest'}); -%>
</body>
</html> 
