<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL CNTR.FINANCE CALCULATOR 👨‍🌾 ************
INFO  : https://cntr.finance
**********************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'centaur'}); -%>
</body>
</html> 
