<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾  UNOFFICIAL CLAYSWAP.FINANCE FARMING CALCULATOR 👨‍🌾 *****************
INFO  : https://clayswap.finance
****************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_clayswap'}); -%>
</body>
</html>
