<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
************************ BINANCE SMART CHAIN ************************************

*************** 👨‍🌾 UNOFFICIAL BEEFARM.FINANCE FARMING CALCULATOR 👨‍🌾 ************
INFO  : https://app.beefarm.finance
*********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_bee'}); -%>
</body>
</html> 
