<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL AMATERASU.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://app.amaterasu.finance
**************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'aurora_amaterasu'}); -%>
</body>
</html> 
