<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL DEFIKINGDOMS CRYSTALVALE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://defikingdoms.com/crystalvale
*********************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'dfk_crystalvale'}); -%>
</body>
</html> 
