<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
************************ BINANCE SMART CHAIN ********************************
    
*************** 👨‍🌾 UNOFFICIAL NYA CASH FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://nya.cash
*****************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'nya'}); -%>
</body>
</html> 
