<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre class="container">
<div class="loader--1"></div>
<div id="log"></div>
New farms: Please read the <a href='https://mcndvf.medium.com/mcn-farm-listing-guide-b4f8e3c3ec41' target='_blank'>listing guide</a> to get started!

MCN Ventures is a new attempt at a decentralized venture fund. Please see <a href="https://mcn.ventures" target="_blank">https://mcn.ventures</a> for details on joining as a partner or new project.

-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
| <a href="https://twitter.com/vfat0" target="_blank">Twitter</a> - <a href="https://github.com/vfat-tools/vfat-tools" target="_blank">GitHub</a> - <a href="https://gitcoin.co/grants/1809/vfattools-yield-farming-calculators" target="_blank">Gitcoin</a> |
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
</pre>

<%- include(`${partials}/scripts`, {scriptname: 'mcn_index'}); -%>
</body>
</html>