<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
************** 💀 UNOFFICIAL REAPER.FARM YIELD CALCULATOR 💀 **************

INFO: Passive money multiplier on the Fantom Opera network. Reap your
favorites while you sleep; backed by industry leading analytics, fresh UI, 
and a dedicated team.

                          https://reaper.farm

                      https://discord.gg/reaperfarm

***************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'fantom_reaperfarm'}); -%>
</body>
</html> 
