<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
************************ BINANCE SMART CHAIN *************************

*************** 👨‍🌾 UNOFFICIAL YIELD SCIENCE LABS CALCULATOR 👨‍🌾 ************
INFO  : <a href="https://yieldlab.science/" >https://yieldlab.science/</a>
****************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_ysl'}); -%>
</body>
</html> 
