<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL INFINITY SPACE-DEFI FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://infinity.space-defi.com
****************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_infinity'}); -%>
</body>
</html> 
