<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** рџ‘ЁвЂЌрџЊѕ UNOFFICIAL EQUALIZER FARMING CALCULATOR рџ‘ЁвЂЌрџЊѕ ***************
INFO  : dev script to receive equalizer gauges
******************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'vfio_supernova_pools'}); -%>
</body>
</html> 
