<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** AVALANCHE ******************************
    
*************** 👨‍🌾 UNOFFICIAL BENQI FARMING CALCULATOR 👨‍🌾 ***********
INFO  : https://benqi.fi
**********************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'avax_benqi'}); -%>
</body>
</html> 
