<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL RABBITFINANCE.IO FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://rabbitfinance.io
***********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_rabbit'}); -%>
</body>
</html>
