<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL SPACE-DEFIA FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://www.space-defia.com
********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_spacedefi'}); -%>
</body>
</html> 
