<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👩‍🌾 UNOFFICIAL FLETACONNECT FARMING CALCULATOR 👩‍🌾 ***************
INFO  : <a href="https://www.fletaconnect.io">https://www.fletaconnect.io</a>
********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_cherry'}); -%>
</body>
</html>
