<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL GALAXY.FINANCE FARMING CALCULATOR 👨‍🌾 *****************
INFO  : https://galaxydefi.finance
*************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_galaxy'}); -%>
</body>
</html> 
