<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL PURESWAP.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://www.pureswap.finance
*************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_pureswap'}); -%>
</body>
</html> 
