<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

  <body>
    <%- include(`${partials}/header_main`); -%>
      <pre id="log">
*************** 👨‍🌾 UNOFFICIAL SINGULAR FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://singular.farm/
***************************************************************************************

</pre>
      <div class="loader--1"></div>
      <%- include(`${partials}/scripts`, {scriptname: 'fantom_singular' }); -%>
  </body>

</html>