<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

  <body>
    <%- include(`${partials}/header_main`); -%>
      <pre id="log">
*************** 👨‍🌾 UNOFFICIAL SOLIDLY FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://solidly.exchange
****************************************************************************

</pre>
      <div class="loader--1"></div>
      <%- include(`${partials}/scripts`, {scriptname: 'fantom_solidly' }); -%>
  </body>

</html>
