<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL DEGEN.HAUS EXCHANGE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://app.degen.haus
*************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'fantom_degenhaus'}); -%>
</body>
</html> 
