<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
** 👨‍🌾 UNOFFICIAL FTM.GURU CALCULATOR 👨‍🌾 **
****** 👨‍🌾 FOR YIELDSTATE FARMING 👨‍🌾 ******
INFO        : https://ftm.guru/YS/2
YIELDSTATE  : 2
ELITENESS   : 0
DEPOSIT FEE : 0
PLEDGES     : ELITE-WFTM spLP
USES        : SpookySwap
REWARDS     : ELITE
*******************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'fantom_guru_ys2'}); -%>
</body>
</html>
