<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL TINVILLE.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : https://farms.tinville.finance
*************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_tinville'}); -%>
</body>
</html>
